.version.background /* version checker */
{
	color: #000008;
	background-color: #5B9D18;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	z-index: 1;
	width: 100%;
	margin-right: auto;
	border-width: 0px;
	background-image: none;
	background-color: transparent;
}

#pu247
{
	width: 0.01px;
	margin-right: -10000px;
	padding-bottom: 62px;
}

#u247
{
	height: 62px;
	top: 0px;
	z-index: 3;
	position: fixed;
}

#u247-bw
{
	z-index: 3;
}

#pamphletu256
{
	z-index: 8;
	position: fixed;
	width: 0.01px;
	top: 8px;
}

#u261popup
{
	z-index: 9;
}

#u262
{
	left: 50%;
	z-index: 10;
	position: fixed;
}

#menuu420
{
	z-index: 11;
	position: relative;
	margin-right: -10000px;
}

#u428
{
	width: 100%;
	position: relative;
}

#u421
{
	width: 100%;
	margin-top: 2px;
	position: relative;
}

#u431,#u422
{
	min-height: 30px;
	width: 100%;
	margin-right: -10000px;
	padding-bottom: 54px;
	position: relative;
}

#u431:hover,#u431.MuseMenuActive,#u422.MuseMenuActive
{
	min-height: 30px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u432-4,#u425-4
{
	min-height: 30px;
	width: 100%;
	margin-right: -10000px;
	top: 27px;
	position: relative;
}

#u431:hover #u432-4,#u431.MuseMenuActive #u432-4,#u422:hover #u425-4,#u422.MuseMenuActive #u425-4
{
	min-height: 30px;
	padding-top: 0px;
	width: 100%;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#u1922
{
	z-index: 24;
	position: relative;
	margin-right: -10000px;
}

#u1681
{
	width: 50px;
	z-index: 25;
	position: relative;
}

#u1682
{
	z-index: 26;
}

#u1679
{
	width: 50px;
	z-index: 33;
	position: relative;
}

#u1680
{
	z-index: 34;
}

#u1675
{
	z-index: 29;
	position: relative;
	width: 50px;
}

#u1676
{
	z-index: 30;
}

#u1677
{
	width: 50px;
	z-index: 27;
	position: relative;
}

#u1678
{
	z-index: 28;
}

#u1673
{
	width: 50px;
	z-index: 31;
	position: relative;
}

#u1674
{
	z-index: 32;
}

#u265
{
	z-index: 35;
	position: relative;
	width: 60px;
	margin-right: -10000px;
}

#u261,#u266
{
	position: absolute;
}

#u266.PamphletThumbSelected
{
	min-height: 0px;
	margin: 0px;
}

#u378
{
	z-index: 37;
	position: relative;
	width: 60px;
	margin-right: -10000px;
}

#u266.PamphletThumbSelected #u378
{
	min-height: 0px;
	margin-left: 0%;
	margin-bottom: 0px;
	width: 60px;
	margin-right: -10000px;
}

#u232-4
{
	min-height: 42px;
	z-index: 4;
	position: fixed;
	width: 202px;
}

#u232-4:hover
{
	min-height: 42px;
	padding-top: 0px;
	width: 202px;
	padding-bottom: 0px;
	margin: 0px;
}

#u251_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u859
{
	z-index: 43;
	position: relative;
}

#u866
{
	width: 50px;
	margin-right: -10000px;
	z-index: 44;
	position: relative;
}

#u867
{
	z-index: 45;
}

#u868
{
	width: 50px;
	margin-right: -10000px;
	z-index: 52;
	position: relative;
}

#u869
{
	z-index: 53;
}

#u864
{
	width: 50px;
	margin-right: -10000px;
	z-index: 48;
	position: relative;
}

#u865
{
	z-index: 49;
}

#u862
{
	width: 50px;
	margin-right: -10000px;
	z-index: 46;
	position: relative;
}

#u863
{
	z-index: 47;
}

#u860
{
	width: 50px;
	margin-right: -10000px;
	z-index: 50;
	position: relative;
}

#u861
{
	z-index: 51;
}

#u671-4
{
	min-height: 19px;
	z-index: 39;
	position: relative;
}

#u251,#u251-bw
{
	z-index: 2;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 481px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 530px;
		max-width: 960px;
	}

	#pamphletu256
	{
		height: 44px;
		padding-bottom: 4px;
		left: 60px;
	}

	#u261
	{
		width: 840px;
		padding-bottom: 364px;
		top: 55px;
	}

	#u262
	{
		width: 840px;
		height: 364px;
		top: 62px;
		margin-left: -420px;
	}

	#menuu420
	{
		margin-top: 107px;
		width: 76.08%;
		margin-left: 11.97%;
		left: 0px;
	}

	#u1922
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 34px;
		left: 0.24%;
	}

	#u1681,#u1673
	{
		margin-top: 15px;
	}

	#u1675,#u1677
	{
		margin-top: 14px;
	}

	#u265
	{
		margin-top: 4px;
		left: 4px;
	}

	#u266
	{
		width: 68px;
		padding-bottom: 3px;
		top: -4px;
		left: -4px;
	}

	#u266.PamphletThumbSelected
	{
		width: 68px;
	}

	#u378
	{
		margin-top: 4px;
		left: 5.89%;
	}

	#u266.PamphletThumbSelected #u378
	{
		margin-top: 4px;
	}

	#u232-4
	{
		top: 8px;
		right: 60px;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 60px;
	}

	#u859
	{
		width: 250px;
		margin-right: -10000px;
		margin-top: 11px;
		left: 650px;
	}

	#u866
	{
		left: 50px;
	}

	#u864
	{
		left: 100px;
	}

	#u860
	{
		left: 150px;
	}

	#u862
	{
		left: 200px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 2px;
	}

	.verticalspacer
	{
		min-height: 376px;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 528px;
		max-width: 480px;
	}

	#pamphletu256
	{
		height: 44px;
		padding-bottom: 3px;
		left: 20px;
	}

	#u261
	{
		width: 440px;
		padding-bottom: 309px;
		top: 62px;
	}

	#u262
	{
		width: 440px;
		height: 309px;
		top: 70px;
		margin-left: -220px;
	}

	#menuu420
	{
		margin-top: 58px;
		width: 63.64%;
		margin-left: 18.19%;
		left: 1px;
	}

	#u1922
	{
		width: 50px;
		margin-top: 18px;
		left: 1.37%;
	}

	#u1673
	{
		margin-top: 1px;
	}

	#u1675
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u266
	{
		width: 60px;
		padding-bottom: 3px;
		top: -3px;
	}

	#u266.PamphletThumbSelected
	{
		width: 60px;
	}

	#u265,#u378
	{
		margin-top: 3px;
	}

	#u266.PamphletThumbSelected #u378
	{
		margin-top: 3px;
	}

	#u232-4
	{
		top: 7px;
		right: 20px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u859
	{
		width: 250px;
		left: 43.75%;
	}

	#u866
	{
		left: 20%;
	}

	#u864
	{
		left: 40%;
	}

	#u860
	{
		left: 60%;
	}

	#u862
	{
		left: 80%;
	}

	#u671-4
	{
		width: 248px;
		left: 20px;
	}

	#u251,#u251-bw
	{
		min-height: 90px;
	}

	.verticalspacer
	{
		min-height: 376px;
	}
}

@media (max-width: 320px)
{
	#u266.PamphletThumbSelected #u378
	{
		margin-top: 0px;
	}

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 480px;
	}

	#pamphletu256
	{
		height: 41px;
		padding-bottom: 6px;
		left: 20px;
	}

	#u261
	{
		width: 281px;
		padding-bottom: 314px;
		top: 67px;
		left: -1px;
	}

	#u262
	{
		width: 281px;
		height: 314px;
		top: 75px;
		margin-left: -141px;
	}

	#menuu420
	{
		margin-top: 103px;
		width: 75.81%;
		margin-left: 12.1%;
		left: -7px;
	}

	#u1922
	{
		width: 249px;
		margin-top: 26px;
		left: 6.05%;
	}

	#u1675
	{
		margin-right: -10000px;
		left: 39.76%;
	}

	#u1681,#u1677
	{
		margin-right: -10000px;
		left: 50%;
	}

	#u1679,#u1673
	{
		margin-right: -10000px;
	}

	#u266
	{
		width: 60px;
		padding-bottom: 6px;
	}

	#u266.PamphletThumbSelected
	{
		width: 60px;
	}

	#u232-4
	{
		top: 7px;
		right: 8px;
	}

	#u251
	{
		min-height: 90px;
	}

	#u251_align_to_page
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u859
	{
		width: 249px;
		left: 11.25%;
	}

	#pu1681,#pu866
	{
		margin-right: -10000px;
		width: 40.17%;
	}

	#u864
	{
		left: 39.76%;
	}

	#pu1677,#pu862
	{
		margin-right: -10000px;
		width: 40.17%;
		margin-left: 59.84%;
	}

	#u866,#u862
	{
		left: 50%;
	}

	#u671-4
	{
		width: 242px;
		left: 39px;
	}

	#u251-bw
	{
		min-height: 90px;
		margin-top: 1px;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 375px;
	}
}

