.version.index /* version checker */
{
	color: #000015;
	background-color: #FF915A;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	background-image: none;
	background-color: transparent;
	z-index: 1;
	width: 100%;
	margin-right: auto;
	border-width: 0px;
}

#u2890-4
{
	color: #FFFFFF;
	font-family: satisfy, sans-serif;
	font-size: 100px;
	position: relative;
	line-height: 120px;
	font-weight: 400;
	background-color: transparent;
	min-height: 122px;
	text-align: center;
	width: 87.5%;
}

#u3906-4
{
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-size: 25px;
	position: relative;
	line-height: 30px;
	background-color: transparent;
	min-height: 34px;
	text-align: center;
	border-radius: 27px;
	font-weight: 700;
}

#u12620-4
{
	color: #000000;
	font-family: satisfy, sans-serif;
	position: relative;
	z-index: 72;
	font-weight: 400;
	background-color: transparent;
	min-height: 92px;
	margin-left: 50%;
}

#u12907
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 31;
	background-color: transparent;
}

#u12907:hover
{
	margin-left: 50%;
	margin-right: -10001px;
	border-color: #000000;
	min-height: 0px;
	border-radius: 10px;
	border-width: 1px;
	margin-bottom: -1px;
	border-style: solid;
}

#u12908
{
	z-index: 32;
	display: block;
}

#u12911
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 29;
	background-color: transparent;
}

#u12912
{
	z-index: 30;
	display: block;
}

#u12909
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 21;
	background-color: transparent;
}

#u12910
{
	z-index: 22;
	display: block;
}

#u12913
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 25;
	background-color: transparent;
}

#u12914
{
	z-index: 26;
	display: block;
}

#u12915
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 27;
	background-color: transparent;
}

#u12916
{
	z-index: 28;
	display: block;
}

#u12905
{
	margin-left: 50%;
	margin-right: -10000px;
	position: relative;
	z-index: 23;
	background-color: transparent;
}

#u12911:hover,#u12909:hover,#u12913:hover,#u12915:hover,#u12905:hover
{
	border-width: 1px;
	border-radius: 10px;
	border-color: #000000;
	border-style: solid;
	min-height: 0px;
	margin: -1px -10001px -1px 50%;
}

#u12906
{
	z-index: 24;
	display: block;
}

#pu12907,#pu12913,#paboutme
{
	width: 100%;
}

#aboutme
{
	width: 22px;
	margin-right: -10000px;
	position: relative;
}

#u6003
{
	z-index: 20;
	background-color: #CDCDCD;
}

#u3928-4
{
	color: #FFFFFF;
	font-family: satisfy, sans-serif;
	font-size: 75px;
	position: relative;
	z-index: 66;
	line-height: 90px;
	font-weight: 400;
	background-color: transparent;
	min-height: 92px;
	text-align: left;
}

#u14083
{
	position: relative;
	z-index: 33;
	width: 345px;
	background-color: transparent;
}

#u14079
{
	z-index: 34;
	display: block;
}

#u5695-22
{
	color: #30293C;
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 400;
	position: relative;
	z-index: 44;
	line-height: 30px;
	background-color: transparent;
}

#u5686-6
{
	font-weight: 400;
	color: #FFFFFF;
	font-family: satisfy, sans-serif;
	border-color: #FFFFFF;
	position: relative;
	z-index: 38;
	line-height: 42px;
	font-size: 35px;
	background-color: transparent;
	min-height: 87px;
	text-align: center;
	border-radius: 50px 0px 50px 0px ;
	width: 292px;
	border-width: 5px;
	border-style: solid;
}

#u5686-6:hover
{
	margin-left: 0%;
	border-color: #5F6283;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 292px;
	margin-right: 0px;
	background-color: #FFFFFF;
	min-height: 87px;
}

#u5686-6:hover p
{
	color: #5F6283;
	visibility: inherit;
	font-size: 35px;
}

#u6003-bw
{
	z-index: 20;
}

#slideshowu13073
{
	position: relative;
	z-index: 76;
	width: 0.01px;
	height: 310px;
}

#u13083
{
	height: 310px;
	background-color: transparent;
	position: absolute;
}

#u13083popup
{
	z-index: 77;
}

#u13493
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 78;
	border-width: 0px;
	background-color: #FFFFFF;
	height: 310px;
}

#u13535
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 80;
	border-width: 0px;
	background-color: #FFFFFF;
	height: 310px;
}

#u13577
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 82;
	border-width: 0px;
	background-color: #FFFFFF;
	height: 310px;
}

#u13619
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 84;
	border-width: 0px;
	background-color: #FFFFFF;
	height: 310px;
}

#u13661
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 86;
	border-width: 0px;
	background-color: #FFFFFF;
	height: 310px;
}

#u13080
{
	width: 392px;
	top: 238px;
	background-color: transparent;
	position: absolute;
}

#u13080popup
{
	z-index: 88;
}

#u13517-4
{
	color: #000000;
	width: 370px;
	border-color: #000000;
	position: relative;
	z-index: 89;
	line-height: 20px;
	margin-right: -10000px;
	background-color: #FFFFFF;
	min-height: 20px;
	padding: 10px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
}

#u13559-4
{
	color: #000000;
	width: 370px;
	border-color: #000000;
	position: relative;
	z-index: 93;
	line-height: 20px;
	margin-right: -10000px;
	background-color: #FFFFFF;
	min-height: 20px;
	padding: 10px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
}

#u13601-4
{
	color: #000000;
	width: 370px;
	border-color: #000000;
	position: relative;
	z-index: 97;
	line-height: 20px;
	margin-right: -10000px;
	background-color: #FFFFFF;
	min-height: 20px;
	padding: 10px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
}

#u13643-4
{
	color: #000000;
	width: 370px;
	border-color: #000000;
	position: relative;
	z-index: 101;
	line-height: 20px;
	margin-right: -10000px;
	background-color: #FFFFFF;
	min-height: 20px;
	padding: 10px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
}

#u13685-4
{
	color: #000000;
	width: 370px;
	border-color: #000000;
	position: relative;
	z-index: 105;
	line-height: 20px;
	margin-right: -10000px;
	background-color: #FFFFFF;
	min-height: 20px;
	padding: 10px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13873
{
	z-index: 37;
	background-color: #CDCDCD;
}

#u13710-6
{
	color: #000000;
	font-family: satisfy, sans-serif;
	position: relative;
	z-index: 109;
	font-weight: 400;
	background-color: transparent;
	min-height: 92px;
	margin-left: 50%;
	margin-right: -10000px;
	text-align: center;
}

#u13873-bw
{
	z-index: 37;
}

#u14052
{
	border-color: transparent;
	position: relative;
	z-index: 115;
	border-width: 0px;
	background-color: transparent;
}

#u13723
{
	position: relative;
	z-index: 116;
	background-color: transparent;
}

#u13719
{
	z-index: 117;
	display: block;
}

#u13868-11
{
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 400;
	position: relative;
	z-index: 118;
	line-height: 30px;
	background-color: transparent;
	min-height: 144px;
}

#u13921
{
	z-index: 36;
	background-color: #CDCDCD;
}

#u14057
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 129;
	border-width: 0px;
	background-color: transparent;
}

#u13845
{
	position: relative;
	z-index: 130;
	background-color: transparent;
}

#u13846
{
	z-index: 131;
	display: block;
}

#u13879-9
{
	line-height: 30px;
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 300;
	position: relative;
	z-index: 132;
	background-color: transparent;
}

#u13921-bw
{
	z-index: 36;
}

#u14062
{
	border-color: transparent;
	position: relative;
	z-index: 141;
	border-width: 0px;
	background-color: transparent;
}

#u13922
{
	position: relative;
	z-index: 142;
	background-color: transparent;
}

#u13923
{
	z-index: 143;
	display: block;
}

#u13924-9
{
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 400;
	position: relative;
	z-index: 144;
	line-height: 30px;
	background-color: transparent;
	min-height: 144px;
}

#u14023
{
	z-index: 35;
	background-color: #CDCDCD;
}

#u14067
{
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 153;
	border-width: 0px;
	background-color: transparent;
}

#u13958
{
	position: relative;
	z-index: 154;
	background-color: transparent;
}

#u13959
{
	z-index: 155;
	display: block;
}

#u13960-10
{
	line-height: 30px;
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 300;
	position: relative;
	z-index: 156;
	background-color: transparent;
}

#u14023-bw
{
	z-index: 35;
}

#u6003_align_to_page,#u13873_align_to_page,#u14023_align_to_page,#u251_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u4647
{
	position: relative;
	z-index: 7;
	width: 300px;
}

#u3578
{
	margin-right: -10000px;
	position: relative;
	z-index: 18;
	width: 50px;
}

#u3578:hover
{
	margin-right: -10001px;
	width: 50px;
	margin-bottom: -1px;
	min-height: 0px;
}

#u3579
{
	z-index: 19;
}

#u868
{
	z-index: 16;
	width: 50px;
	margin-right: -10000px;
	position: relative;
}

#u869
{
	z-index: 17;
}

#u866
{
	z-index: 8;
	width: 50px;
	margin-right: -10000px;
	position: relative;
}

#u867
{
	z-index: 9;
}

#u864
{
	z-index: 12;
	width: 50px;
	margin-right: -10000px;
	position: relative;
}

#u865
{
	z-index: 13;
}

#u860
{
	z-index: 14;
	width: 50px;
	margin-right: -10000px;
	position: relative;
}

#u861
{
	z-index: 15;
}

#u862
{
	z-index: 10;
	width: 50px;
	margin-right: -10000px;
	position: relative;
}

#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
{
	margin-right: -10001px;
	margin-top: -1px;
	width: 50px;
	margin-bottom: -1px;
	min-height: 0px;
}

#u863
{
	z-index: 11;
}

#u671-4
{
	position: relative;
	z-index: 3;
	min-height: 19px;
}

#u251,#u251-bw
{
	z-index: 2;
}

.html
{
	background: #FFFFFF url("../images/20160722_002702364_ios.jpg") repeat-x center top scroll;
}

#contact,body
{
	position: relative;
}

@media (min-width: 601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4442px;
		max-width: 960px;
	}

	#page_position_content
	{
		padding-top: 20px;
		width: 100%;
	}

	#menuu6611
	{
		z-index: 184;
		width: 415px;
		margin-left: 60px;
		position: relative;
	}

	#u6619
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 139px;
	}

	#u6627
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 278px;
	}

	#u8417
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u2890-4
	{
		z-index: 176;
		margin-top: 135px;
		margin-left: 6.25%;
	}

	#u3906-4
	{
		z-index: 180;
		margin-top: 52px;
		width: 54.07%;
		margin-left: 22.92%;
	}

	#pcontact
	{
		margin-top: 219px;
		width: 100%;
	}

	#contact
	{
		width: 22px;
		margin-right: -10000px;
		left: -512px;
	}

	#u12620-4
	{
		width: 686px;
		line-height: 90px;
		font-size: 75px;
		text-align: left;
		margin-right: -10000px;
		margin-top: 9px;
		left: -343px;
	}

	#pu12907
	{
		margin-top: 2px;
	}

	#u12907
	{
		width: 100px;
		margin-top: 9px;
		left: -240px;
	}

	#u12907:hover
	{
		margin-top: 8px;
		width: 100px;
		left: -241px;
	}

	#u12911
	{
		width: 100px;
		left: -50px;
	}

	#u12909
	{
		width: 100px;
		left: 133px;
	}

	#pu12913
	{
		margin-top: 12px;
	}

	#u12913
	{
		width: 100px;
		left: -233px;
	}

	#u12913:hover
	{
		width: 100px;
		left: -234px;
	}

	#u12915
	{
		width: 100px;
		left: -50px;
	}

	#u12911:hover,#u12915:hover
	{
		width: 100px;
		left: -51px;
	}

	#u12905
	{
		width: 100px;
		left: 133px;
	}

	#u12909:hover,#u12905:hover
	{
		width: 100px;
		left: 132px;
	}

	#paboutme
	{
		margin-top: 21px;
	}

	#aboutme
	{
		margin-top: 53px;
		left: -497px;
	}

	#u6003_align_to_page
	{
		max-width: 960px;
		padding-top: 53px;
		padding-bottom: 27px;
	}

	#u3928-4
	{
		width: 268px;
		left: 346px;
	}

	#u14083
	{
		margin-top: 26px;
		left: 32.09%;
	}

	#u5695-22
	{
		margin-top: 26px;
		width: 79.9%;
		left: 10.11%;
	}

	#u5686-6
	{
		margin-top: 44px;
		left: 34.28%;
	}

	#u5686-6:hover
	{
		margin-top: 44px;
	}

	#u6003,#u6003-bw
	{
		min-height: 1434px;
	}

	#slideshowu13073
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u13083,#u13493,#u13535,#u13577,#u13619,#u13661
	{
		width: 960px;
	}

	#u13080
	{
		left: 22px;
	}

	#u13873
	{
		min-height: 221px;
		padding-bottom: 32px;
	}

	#u13710-6
	{
		width: 686px;
		line-height: 90px;
		font-size: 75px;
		margin-top: 41px;
		left: -344px;
	}

	#u13873-bw
	{
		min-height: 221px;
		margin-top: 1px;
	}

	#u14052
	{
		width: 797px;
		margin-top: 35px;
		margin-left: 10.73%;
	}

	#u13723
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 75px;
	}

	#u13921
	{
		min-height: 309px;
		padding-bottom: 9px;
	}

	#u13921_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
	}

	#u14057
	{
		width: 823px;
		margin-top: 9px;
		left: 6.25%;
	}

	#u13921-bw
	{
		min-height: 309px;
		margin-top: 4px;
	}

	#u14062
	{
		width: 797px;
		margin-top: 4px;
		margin-left: 7.09%;
	}

	#u13922
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 76px;
	}

	#u13868-11,#u13924-9
	{
		width: 620px;
		margin-right: -10000px;
		left: 22.21%;
	}

	#u14023
	{
		min-height: 343px;
	}

	#u13873_align_to_page,#u14023_align_to_page
	{
		max-width: 960px;
	}

	#u14067
	{
		width: 823px;
		margin-top: 13px;
		left: 7.3%;
	}

	#u13879-9,#u13960-10
	{
		width: 620px;
		margin-right: -10000px;
	}

	#u13845,#u13958
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 75px;
		left: 85.42%;
	}

	#u14023-bw
	{
		min-height: 343px;
		margin-top: 1px;
	}

	#accordionu14106
	{
		z-index: 166;
		border-style: solid;
		border-width: 1px;
		border-color: #7F7F7F;
		background-color: transparent;
	}

	#u14107
	{
		z-index: 167;
		background-color: transparent;
	}

	#u14110-6
	{
		z-index: 168;
		min-height: 40px;
		border-color: #FFFFFF;
		background-color: #A67C8F;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u14110-6.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 40px;
		margin: 0px 0px 0px 0%;
	}

	#u14110-6.AccordionPanelTabOpen p
	{
		text-align: center;
	}

	#u14110-5
	{
		line-height: 20px;
		color: #FFFFFF;
		font-size: 20px;
		text-align: center;
		font-family: quicksand, sans-serif;
		font-weight: 400;
		margin-left: 10px;
	}

	#u14108
	{
		z-index: 174;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}

	#u14187
	{
		z-index: 175;
		min-height: 364px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 66.67%;
		margin-left: 16.67%;
		left: -1px;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#accordionu14106-bw
	{
		z-index: 166;
		margin-top: -2px;
		margin-bottom: -2px;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u251_align_to_page
	{
		margin-bottom: -1px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 82px;
	}

	#u4647
	{
		margin-right: -10000px;
		margin-top: 11px;
		left: 622px;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u3578:hover
	{
		margin-left: -1px;
		margin-top: 3px;
	}

	#u868
	{
		left: 50px;
	}

	#u866
	{
		left: 100px;
	}

	#u864
	{
		left: 150px;
	}

	#u860
	{
		left: 200px;
	}

	#u862
	{
		left: 250px;
	}

	#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
	{
		margin-left: -1px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: -1px;
	}
}

@media (min-width: 401px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 527.5568853870745px;
		padding-bottom: 0px;
		max-width: 600px;
	}

	#page_position_content
	{
		padding-top: 20px;
		width: 100%;
	}

	#menuu6611
	{
		z-index: 184;
		width: 415px;
		position: relative;
		margin-left: 50%;
		left: -207px;
	}

	#u6619
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 139px;
	}

	#u6627
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 278px;
	}

	#u8417
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u2890-4
	{
		z-index: 176;
		margin-top: 142px;
		margin-left: 6.17%;
	}

	#u3906-4
	{
		z-index: 180;
		margin-top: 58px;
		width: 80.67%;
		margin-left: 10.5%;
	}

	#contact
	{
		left: -521px;
		margin-top: 242px;
	}

	#u12620-4
	{
		width: 561px;
		line-height: 90px;
		font-size: 75px;
		text-align: center;
		margin-top: 1px;
		left: -280px;
	}

	#u12907
	{
		width: 100px;
		left: -215px;
	}

	#u12907:hover
	{
		margin-top: -1px;
		width: 100px;
		left: -216px;
	}

	#u12911
	{
		width: 100px;
		left: -50px;
	}

	#u12909
	{
		width: 100px;
		left: 114px;
	}

	#pu12913
	{
		margin-top: 63px;
	}

	#u12913
	{
		width: 100px;
		left: -207px;
	}

	#u12913:hover
	{
		width: 100px;
		left: -208px;
	}

	#u12915
	{
		width: 100px;
		left: -50px;
	}

	#u12911:hover,#u12915:hover
	{
		width: 100px;
		left: -51px;
	}

	#u12905
	{
		width: 100px;
		left: 114px;
	}

	#u12909:hover,#u12905:hover
	{
		width: 100px;
		left: 113px;
	}

	#aboutme
	{
		margin-top: 21px;
		left: -510px;
	}

	#u6003
	{
		min-height: 2025.9500000000003px;
		padding-bottom: 0px;
	}

	#u6003_align_to_page
	{
		max-width: 600px;
		padding-top: 30px;
		padding-bottom: 39px;
	}

	#u3928-4
	{
		width: 275px;
		margin-left: 50%;
		left: -136px;
	}

	#u14083
	{
		margin-top: 24px;
		left: 21.17%;
	}

	#u5695-22
	{
		margin-top: 24px;
		width: 79.84%;
		left: 10%;
	}

	#u5686-6
	{
		margin-top: 21px;
		left: 24.34%;
	}

	#paboutme,#u5686-6:hover
	{
		margin-top: 21px;
	}

	#u6003-bw
	{
		min-height: 2025.9500000000003px;
	}

	#slideshowu13073
	{
		left: -1%;
	}

	#u13083
	{
		width: 600px;
		left: 6px;
	}

	#u13493,#u13535,#u13577,#u13619,#u13661
	{
		width: 600px;
	}

	#u13873
	{
		min-height: 197px;
		padding-bottom: 56px;
	}

	#u13710-6
	{
		width: 600px;
		line-height: 78px;
		font-size: 65px;
		margin-top: 41px;
		left: -294px;
	}

	#u13873-bw
	{
		min-height: 197px;
	}

	#u14052
	{
		width: 560px;
		margin-top: 3px;
		margin-left: 4.34%;
	}

	#u13723
	{
		width: 75px;
		margin-right: -10000px;
		margin-top: 158px;
	}

	#u13868-11
	{
		width: 457px;
		margin-right: -10000px;
		left: 18.4%;
	}

	#pu13921
	{
		margin-top: -2px;
		width: 100%;
	}

	#u13921,#u13921-bw
	{
		height: 458px;
	}

	#u14057
	{
		width: 558px;
		margin-top: 1px;
		left: 4.67%;
	}

	#u13879-9
	{
		width: 426px;
		min-height: 458px;
		margin-right: -10000px;
	}

	#u13845
	{
		width: 75px;
		margin-right: -10000px;
		margin-top: 195px;
		left: 86.56%;
	}

	#u14062
	{
		width: 562px;
		margin-top: 1px;
		margin-left: 3.84%;
	}

	#u13922
	{
		width: 75px;
		margin-right: -10000px;
		margin-top: 112px;
	}

	#u13924-9
	{
		width: 457px;
		margin-right: -10000px;
		left: 18.69%;
	}

	#u14023
	{
		min-height: 480px;
	}

	#u13873_align_to_page,#u14023_align_to_page
	{
		max-width: 600px;
	}

	#u14067
	{
		width: 565px;
		left: 3.84%;
	}

	#u13960-10
	{
		width: 413px;
		margin-right: -10000px;
	}

	#u13958
	{
		width: 75px;
		margin-right: -10000px;
		margin-top: 255px;
		left: 86.73%;
	}

	#u14023-bw
	{
		min-height: 480px;
		margin-top: 3px;
	}

	#accordionu14106
	{
		z-index: 166;
		border-style: solid;
		border-width: 1px;
		border-color: #7F7F7F;
		background-color: transparent;
		padding-bottom: 0px;
		margin-top: 19px;
		position: relative;
		width: 107%;
		left: 0.17%;
	}

	#u14107
	{
		z-index: 167;
		background-color: transparent;
		padding-bottom: 0px;
		position: relative;
		width: 100%;
	}

	#u14110-6
	{
		z-index: 168;
		min-height: 28px;
		border-color: #FFFFFF;
		background-color: #A67C8F;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		width: 100%;
	}

	#u14110-6.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 28px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u14110-6.AccordionPanelTabOpen p
	{
		text-align: center;
	}

	#u14110-5
	{
		line-height: 14px;
		color: #FFFFFF;
		text-align: center;
		font-family: quicksand, sans-serif;
		font-weight: 300;
		margin-left: 10px;
	}

	#u14108
	{
		z-index: 174;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
		position: relative;
		width: 100%;
	}

	#u14187
	{
		z-index: 175;
		min-height: 341px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 99.69%;
		margin-left: 0.16%;
		left: -1px;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u251
	{
		min-height: 90px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
		margin-bottom: -1px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251-bw
	{
		min-height: 90px;
		margin-top: -1px;
	}
}

@media (max-width: 400px)
{
	#muse_css_mq
	{
		background-color: #000190;
	}

	#bp_400.active
	{
		display: block;
	}

	#page
	{
		min-height: 728px;
		max-width: 400px;
	}

	#pu2890-4
	{
		width: 100%;
	}

	#u2890-4
	{
		z-index: 172;
		margin-right: -10000px;
		margin-top: 107px;
		left: 6.25%;
	}

	#u3906-4
	{
		z-index: 176;
		margin-right: -10000px;
		margin-top: 347px;
		width: 80.75%;
		left: 8.75%;
	}

	#accordionu9663wrapper
	{
		min-height: 638px;
		z-index: 180;
		margin-bottom: -201px;
		margin-right: -10000px;
	}

	#u9668
	{
		z-index: 181;
	}

	#u9669-3
	{
		z-index: 182;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u9669-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-2
	{
		margin-left: 10px;
	}

	#u9670
	{
		z-index: 185;
		padding-bottom: 69px;
	}

	#menuu9736
	{
		z-index: 186;
		min-height: 427px;
	}

	#u9754
	{
		min-height: 30px;
		padding-bottom: 111px;
		position: relative;
	}

	#u9754:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9756-4
	{
		min-height: 30px;
		position: relative;
		top: 55px;
	}

	#u9754:hover #u9756-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9747
	{
		min-height: 30px;
		padding-bottom: 111px;
		position: relative;
	}

	#u9754.MuseMenuActive,#u9747:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9750-4
	{
		min-height: 30px;
		position: relative;
		top: 55px;
	}

	#u9754.MuseMenuActive #u9756-4,#u9747:hover #u9750-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759
	{
		min-height: 30px;
		padding-bottom: 111px;
		position: relative;
	}

	#u9747.MuseMenuActive,#u9759:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9760-4
	{
		min-height: 30px;
		position: relative;
		top: 55px;
	}

	#u9747.MuseMenuActive #u9750-4,#u9759:hover #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9744,#u9758
	{
		margin-top: 2px;
	}

	#menuu9736-bw
	{
		z-index: 186;
		min-height: 427px;
		margin-top: 80px;
	}

	#accordionu9663,#accordionu9663-bw
	{
		z-index: 180;
	}

	#pcontact
	{
		margin-top: 243px;
		width: 100%;
	}

	#contact
	{
		width: 22px;
		margin-right: -10000px;
		left: -497px;
	}

	#u12620-4
	{
		width: 275px;
		line-height: 60px;
		font-size: 50px;
		text-align: center;
		margin-right: -10000px;
		margin-top: 9px;
		left: -137px;
	}

	#pu12907
	{
		margin-top: 30px;
	}

	#u12907
	{
		width: 75px;
		left: -148px;
	}

	#u12907:hover
	{
		margin-top: -1px;
		width: 75px;
		left: -149px;
	}

	#u12911
	{
		width: 75px;
		left: -38px;
	}

	#u12909
	{
		width: 75px;
		left: 73px;
	}

	#u12913
	{
		width: 75px;
		left: -149px;
	}

	#u12913:hover
	{
		width: 75px;
		left: -150px;
	}

	#u12915
	{
		width: 75px;
		left: -38px;
	}

	#u12911:hover,#u12915:hover
	{
		width: 75px;
		left: -39px;
	}

	#u12905
	{
		width: 75px;
		left: 73px;
	}

	#u12909:hover,#u12905:hover
	{
		width: 75px;
		left: 72px;
	}

	#pu12913,#paboutme
	{
		margin-top: 12px;
	}

	#aboutme
	{
		margin-top: 11px;
		left: -497px;
	}

	#u6003_align_to_page
	{
		max-width: 400px;
		padding-top: 19px;
		padding-bottom: 35px;
	}

	#u3928-4
	{
		width: 275px;
		margin-left: 50%;
		left: -137px;
	}

	#u14083
	{
		margin-top: 3px;
		left: 7.01%;
	}

	#u5695-22
	{
		width: 80%;
		left: 10%;
	}

	#u5686-6
	{
		margin-top: 37px;
		left: 12.25%;
	}

	#u5686-6:hover
	{
		margin-top: 37px;
	}

	#u6003,#u6003-bw
	{
		min-height: 2672px;
	}

	#slideshowu13073
	{
		margin-top: 1px;
	}

	#u13083,#u13493,#u13535,#u13577,#u13619,#u13661
	{
		width: 400px;
	}

	#u13873
	{
		min-height: 141px;
		padding-bottom: 33px;
	}

	#u13873_align_to_page
	{
		max-width: 400px;
	}

	#u13710-6
	{
		width: 400px;
		line-height: 54px;
		font-size: 45px;
		margin-top: 33px;
		left: -200px;
	}

	#u13873-bw
	{
		min-height: 141px;
	}

	#u14052
	{
		width: 355px;
		padding-bottom: 0px;
		margin-top: 43px;
		margin-left: 5%;
	}

	#u13868-11
	{
		width: 355px;
		margin-top: 43px;
	}

	#u13921_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 400px;
	}

	#u13879-9
	{
		width: 355px;
		min-height: 132px;
		margin-top: 49px;
	}

	#u13921,#u13921-bw
	{
		min-height: 598px;
	}

	#u14062
	{
		width: 355px;
		margin-top: 19px;
		margin-left: 5%;
	}

	#u13723,#u13922
	{
		width: 50px;
		margin-left: 43.67%;
	}

	#u13924-9
	{
		width: 355px;
		margin-top: 49px;
	}

	#u13868-4,#u13868-8,#u13879-6,#u13924-4,#u13924-6
	{
		text-align: center;
	}

	#u14023
	{
		min-height: 628px;
	}

	#u14023_align_to_page
	{
		max-width: 400px;
		margin-bottom: -1px;
	}

	#u14057,#u14067
	{
		width: 355px;
		margin-top: 19px;
		left: 5%;
	}

	#u13845,#u13958
	{
		width: 50px;
		margin-left: 42.82%;
	}

	#u13960-10
	{
		width: 355px;
		text-align: center;
		margin-top: 49px;
	}

	#u14023-bw
	{
		min-height: 628px;
		margin-top: -1px;
	}

	#u14180-6
	{
		z-index: 166;
		min-height: 28px;
		background-color: #A67C8F;
		line-height: 14px;
		color: #FFFFFF;
		text-align: center;
		font-family: quicksand, sans-serif;
		font-weight: 300;
	}

	#u14180-6-bw
	{
		z-index: 166;
		min-height: 28px;
		margin-top: 1px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251,#u251-bw
	{
		min-height: 90px;
	}

	body
	{
		min-width: 320px;
	}

}

