.version.index /* version checker */
{
	color: #000017;
	background-color: #59AFFB;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	background-color: transparent;
	z-index: 1;
	border-width: 0px;
	background-image: none;
	margin-right: auto;
	width: 100%;
}

#ppaboutme
{
	width: 100%;
}

#paboutme
{
	margin-right: -10000px;
	width: 0.01px;
	padding-bottom: 0px;
}

#u2890-4
{
	color: #FFFFFF;
	background-color: transparent;
	font-size: 100px;
	font-weight: 400;
	position: relative;
	z-index: 183;
	line-height: 120px;
	font-family: satisfy, sans-serif;
	text-align: center;
	min-height: 122px;
}

#u3906-4
{
	color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-radius: 27px;
	font-weight: 700;
	font-size: 25px;
	z-index: 187;
	line-height: 30px;
	font-family: quicksand, sans-serif;
	text-align: center;
	min-height: 34px;
}

#pamphletu8548
{
	z-index: 128;
	position: relative;
	width: 0.01px;
}

#u8551
{
	top: -1px;
	position: absolute;
}

#u8551popup
{
	z-index: 129;
}

#u8552
{
	border-color: #5C7273;
	position: relative;
	border-radius: 15px;
	background-color: #FFFFFF;
	border-style: solid;
	z-index: 130;
	border-width: 2px;
	margin-right: -10000px;
	height: 452px;
}

#u8553-7
{
	color: #30293C;
	background-color: transparent;
	font-size: 25px;
	font-weight: 400;
	position: relative;
	z-index: 131;
	line-height: 35px;
	font-family: quicksand, sans-serif;
	margin-top: 19px;
	margin-right: -10000px;
	min-height: 320px;
}

#u8553
{
	font-weight: 700;
}

#u8684
{
	border-style: solid;
	z-index: 138;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8698
{
	border-style: solid;
	z-index: 139;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8708
{
	border-style: solid;
	z-index: 140;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8718
{
	border-style: solid;
	z-index: 141;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8728
{
	border-style: solid;
	z-index: 142;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8738
{
	border-style: solid;
	z-index: 143;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8748
{
	border-style: solid;
	z-index: 144;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8758
{
	border-style: solid;
	z-index: 145;
	border-width: 2px;
	border-color: #5C7273;
	position: relative;
	margin-right: -10000px;
	border-radius: 15px;
	background-color: #FFFFFF;
}

#u8768
{
	border-color: #5C7273;
	position: relative;
	border-radius: 15px;
	background-color: #FFFFFF;
	border-style: solid;
	z-index: 146;
	border-width: 2px;
	margin-right: -10000px;
}

#u8571
{
	z-index: 147;
	margin-right: -10000px;
	width: 367px;
	position: relative;
}

#u8573
{
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8693
{
	left: 38px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8703
{
	left: 76px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8713
{
	left: 115px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8723
{
	left: 153px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8733
{
	left: 190px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8743
{
	left: 228px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8753
{
	left: 266px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8763
{
	left: 304px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8773
{
	left: 342px;
	border-width: 0px;
	background-color: #B0D1D2;
	position: absolute;
	width: 25px;
	border-radius: 10px;
	border-color: transparent;
	height: 25px;
}

#u8573:hover,#u8693:hover,#u8703:hover,#u8713:hover,#u8723:hover,#u8733:hover,#u8743:hover,#u8753:hover,#u8763:hover,#u8773:hover
{
	min-height: 0px;
	border-width: 0px;
	border-color: transparent;
	width: 25px;
	background-color: #89A5A6;
	height: 25px;
	margin: 0px;
}

#u8573.PamphletThumbSelected,#u8693.PamphletThumbSelected,#u8703.PamphletThumbSelected,#u8713.PamphletThumbSelected,#u8723.PamphletThumbSelected,#u8733.PamphletThumbSelected,#u8743.PamphletThumbSelected,#u8753.PamphletThumbSelected,#u8763.PamphletThumbSelected,#u8773.PamphletThumbSelected
{
	background-color: #5C7273;
	width: 25px;
	border-radius: 10px;
	min-height: 0px;
	height: 25px;
	margin: 0px;
}

#u8549
{
	height: 44px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	position: absolute;
	width: 44px;
	background: #FFFFFF url("../images/previous.png") no-repeat center center;
}

#u8567
{
	border-color: #999999;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	width: 44px;
	height: 44px;
	background: #FFFFFF url("../images/next.png") no-repeat center center;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

#u6003
{
	z-index: 20;
	background-color: #CDCDCD;
}

#u3928-4
{
	background-color: transparent;
	font-size: 75px;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
	z-index: 178;
	line-height: 90px;
	min-height: 92px;
	text-align: left;
	font-family: satisfy, sans-serif;
}

#u5695-7
{
	color: #30293C;
	z-index: 171;
	line-height: 30px;
	font-family: quicksand, sans-serif;
	font-size: 25px;
	font-weight: 400;
	background-color: transparent;
	position: relative;
}

#u5686-6
{
	color: #FFFFFF;
	background-color: transparent;
	font-size: 35px;
	border-radius: 50px 0px 50px 0px ;
	border-color: #FFFFFF;
	position: relative;
	border-style: solid;
	z-index: 165;
	line-height: 42px;
	border-width: 5px;
	min-height: 87px;
	text-align: center;
	font-family: satisfy, sans-serif;
	font-weight: 400;
}

#u5686-6:hover
{
	padding-top: 0px;
	margin-left: 0%;
	border-color: #5F6283;
	background-color: #FFFFFF;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	min-height: 87px;
}

#u5686-6:hover p
{
	color: #5F6283;
	visibility: inherit;
	font-size: 35px;
}

#u6003-bw
{
	z-index: 20;
}

#u8532
{
	z-index: 21;
	background-color: #FFFFFF;
}

#u8533-4
{
	color: #000000;
	background-color: transparent;
	font-size: 75px;
	text-align: left;
	font-weight: 400;
	position: relative;
	z-index: 160;
	line-height: 90px;
	min-height: 92px;
	margin-right: -10000px;
	font-family: satisfy, sans-serif;
}

#u8532-bw
{
	z-index: 21;
}

#u11323-4
{
	color: #FFFFFF;
	background-color: transparent;
	font-size: 75px;
	text-align: left;
	font-weight: 400;
	position: relative;
	z-index: 123;
	line-height: 90px;
	min-height: 92px;
	font-family: satisfy, sans-serif;
}

#u12188
{
	z-index: 22;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u12118
{
	z-index: 107;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11359
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 108;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

#u11358-6
{
	color: #FFFFFF;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 109;
	line-height: 36px;
	min-height: 76px;
	margin-right: -10000px;
	width: 129px;
	font-family: quicksand, sans-serif;
}

#u11358-6:hover
{
	margin-right: -10000px;
	margin-bottom: 0px;
	margin-left: 50%;
	min-height: 76px;
	padding-top: 0px;
	width: 129px;
	padding-bottom: 0px;
}

#u12108
{
	z-index: 85;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11364-6
{
	color: #FFFFFF;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 86;
	line-height: 36px;
	min-height: 76px;
	margin-top: 42px;
	margin-right: -10000px;
	width: 129px;
	font-family: quicksand, sans-serif;
}

#u11364-6:hover
{
	min-height: 76px;
	padding-top: 0px;
	width: 129px;
	padding-bottom: 0px;
	margin: 42px -10000px 0px 50%;
}

#u11365
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 92;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

#u12113
{
	z-index: 115;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11361-6
{
	color: #FFFFFF;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 116;
	line-height: 36px;
	min-height: 76px;
	margin-top: 24px;
	margin-right: -10000px;
	width: 187px;
	font-family: quicksand, sans-serif;
}

#u11361-6:hover
{
	min-height: 76px;
	padding-top: 0px;
	width: 187px;
	padding-bottom: 0px;
	margin: 24px -10000px 0px 50%;
}

#u11362
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 122;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

#u12123
{
	z-index: 99;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11346-6
{
	color: #FFFFFF;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 100;
	line-height: 36px;
	min-height: 76px;
	margin-top: 23px;
	margin-right: -10000px;
	width: 177px;
	font-family: quicksand, sans-serif;
}

#u11346-6:hover
{
	min-height: 76px;
	padding-top: 0px;
	width: 177px;
	padding-bottom: 0px;
	margin: 23px -10000px 0px 50%;
}

#u11347
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 106;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

#u12078
{
	z-index: 41;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11356-6
{
	color: #FFFFFF;
	margin-left: 50%;
	background-color: transparent;
	text-align: center;
	font-weight: 400;
	position: relative;
	z-index: 42;
	min-height: 76px;
	margin-top: 37px;
	margin-right: -10000px;
	width: 177px;
	font-family: quicksand, sans-serif;
}

#u11356-6:hover
{
	min-height: 76px;
	padding-top: 0px;
	width: 177px;
	padding-bottom: 0px;
	margin: 37px -10000px 0px 50%;
}

#u11358-6:hover p,#u11364-6:hover p,#u11361-6:hover p,#u11346-6:hover p,#u11356-6:hover p
{
	color: #000000;
	visibility: inherit;
	font-weight: bold;
}

#u11355
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 48;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

#u11359:hover,#u11365:hover,#u11362:hover,#u11347:hover,#u11355:hover
{
	left: -100px;
	min-height: 0px;
	width: 200px;
	height: 200px;
	margin: 0px -10000px 0px 50%;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12083
{
	z-index: 35;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11350-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 27px;
	font-weight: 400;
	position: relative;
	z-index: 36;
	line-height: 32px;
	font-family: quicksand, sans-serif;
	margin-top: 36px;
	margin-right: -10000px;
	width: 188px;
}

#u11349
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 40;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12138
{
	z-index: 29;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11340-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 25px;
	font-weight: 400;
	position: relative;
	z-index: 30;
	line-height: 30px;
	font-family: quicksand, sans-serif;
	margin-top: 29px;
	margin-right: -10000px;
	width: 179px;
	min-height: 63px;
}

#u11341
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 34;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12158
{
	z-index: 71;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11343-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 72;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-top: 50px;
	margin-right: -10000px;
	width: 135px;
}

#u11344
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 76;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12163
{
	z-index: 49;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11325-6
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 50;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-right: -10000px;
	width: 133px;
}

#u11326
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 56;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12168
{
	z-index: 65;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11335-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 66;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-top: 59px;
	margin-right: -10000px;
	width: 161px;
}

#u11334
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 70;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12173
{
	z-index: 93;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11353-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 94;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-top: 63px;
	margin-right: -10000px;
	width: 135px;
}

#u11352
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 98;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12178
{
	z-index: 57;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11328-6
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 58;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-right: -10000px;
	width: 134px;
}

#u11329
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 64;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12183
{
	z-index: 77;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11338-6
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 30px;
	font-weight: 400;
	position: relative;
	z-index: 78;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-top: 42px;
	margin-right: -10000px;
	width: 105px;
}

#u11337
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 84;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

#u12088
{
	z-index: 23;
	margin-left: 50%;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	width: 200px;
	background-color: transparent;
}

#u11332-4
{
	text-align: center;
	margin-left: 50%;
	background-color: transparent;
	font-size: 28px;
	font-weight: 400;
	position: relative;
	z-index: 24;
	line-height: 34px;
	font-family: quicksand, sans-serif;
	margin-top: 28px;
	margin-right: -10000px;
	width: 186px;
}

#u11331
{
	margin-left: 50%;
	position: relative;
	left: -100px;
	height: 200px;
	z-index: 28;
	margin-right: -10000px;
	width: 200px;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u11359:hover,.nosvg #u11365:hover,.nosvg #u11362:hover,.nosvg #u11347:hover,.nosvg #u11355:hover,.nosvg #u11349,.nosvg #u11341,.nosvg #u11344,.nosvg #u11326,.nosvg #u11334,.nosvg #u11352,.nosvg #u11329,.nosvg #u11337,.nosvg #u11331
{
	left: -100px;
	margin-left: 50%;
	background-image: url('../images/hexagon_poster_u8162.png');
}

#u11349:hover,#u11341:hover,#u11344:hover,#u11326:hover,#u11334:hover,#u11352:hover,#u11329:hover,#u11337:hover,#u11331:hover
{
	left: -100px;
	min-height: 0px;
	width: 200px;
	height: 200px;
	margin: 0px -10000px 0px 50%;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u11359,.nosvg #u11365,.nosvg #u11362,.nosvg #u11347,.nosvg #u11355,.nosvg #u11349:hover,.nosvg #u11341:hover,.nosvg #u11344:hover,.nosvg #u11326:hover,.nosvg #u11334:hover,.nosvg #u11352:hover,.nosvg #u11329:hover,.nosvg #u11337:hover,.nosvg #u11331:hover
{
	left: -100px;
	margin-left: 50%;
	background-image: url('../images/hexagonroll_poster_u8170.png');
}

#u6003_align_to_page,#u8532_align_to_page,#u251_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u4647
{
	z-index: 7;
	width: 300px;
	position: relative;
}

#u3578
{
	z-index: 18;
	margin-right: -10000px;
	width: 50px;
	position: relative;
}

#u3578:hover
{
	min-height: 0px;
	margin-right: -10001px;
	width: 50px;
	margin-bottom: -1px;
}

#u3579
{
	z-index: 19;
}

#u868
{
	margin-right: -10000px;
	z-index: 16;
	width: 50px;
	position: relative;
}

#u869
{
	z-index: 17;
}

#u866
{
	margin-right: -10000px;
	z-index: 8;
	width: 50px;
	position: relative;
}

#u867
{
	z-index: 9;
}

#u864
{
	margin-right: -10000px;
	z-index: 12;
	width: 50px;
	position: relative;
}

#u865
{
	z-index: 13;
}

#u860
{
	margin-right: -10000px;
	z-index: 14;
	width: 50px;
	position: relative;
}

#u861
{
	z-index: 15;
}

#u862
{
	margin-right: -10000px;
	z-index: 10;
	width: 50px;
	position: relative;
}

#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
{
	min-height: 0px;
	margin-top: -1px;
	margin-right: -10001px;
	width: 50px;
	margin-bottom: -1px;
}

#u863
{
	z-index: 11;
}

#u671-4
{
	z-index: 3;
	min-height: 19px;
	position: relative;
}

#u251,#u251-bw
{
	z-index: 2;
}

.html
{
	background: #B0D1D2 url("../images/20160722_002702364_ios.jpg") repeat-x center top scroll;
}

#aboutme,#projects,#skills,body
{
	position: relative;
}

@media (min-width: 601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 744px;
		padding-top: 20px;
		max-width: 960px;
	}

	#menuu6611
	{
		z-index: 191;
		width: 415px;
		margin-left: 60px;
		position: relative;
	}

	#u6619
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 104px;
	}

	#u6627
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u8417
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6612
	{
		width: 103px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 312px;
	}

	#u6613
	{
		width: 103px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6613:hover
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6613.MuseMenuActive
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6615-4
	{
		width: 103px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6613:hover #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u6613.MuseMenuActive #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u2890-4
	{
		margin-top: 135px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u3906-4
	{
		margin-top: 52px;
		width: 54.07%;
		margin-left: 22.92%;
	}

	#ppaboutme
	{
		margin-top: 129px;
	}

	#paboutme
	{
		margin-top: 110px;
		margin-left: -510px;
	}

	#aboutme
	{
		margin-left: 9px;
	}

	#projects
	{
		margin-top: 1012px;
	}

	#u6003
	{
		min-height: 1071.95px;
		padding-bottom: 0px;
	}

	#u6003_align_to_page
	{
		max-width: 960px;
		padding-top: 110px;
		padding-bottom: 175px;
	}

	#u3928-4
	{
		width: 298px;
		left: 85px;
	}

	#u5695-7
	{
		margin-top: 44px;
		width: 79.9%;
		left: 10.11%;
	}

	#u5686-6
	{
		width: 292px;
		margin-top: 44px;
		left: 34.28%;
	}

	#u5686-6:hover
	{
		margin-top: 44px;
		width: 292px;
	}

	#u6003-bw
	{
		min-height: 1071.95px;
	}

	#u8532
	{
		min-height: 235px;
		padding-bottom: 693px;
	}

	#u8532_align_to_page
	{
		max-width: 960px;
	}

	#u8533-4
	{
		width: 298px;
		margin-top: 143px;
		left: 8.86%;
	}

	#u8532-bw
	{
		min-height: 235px;
		margin-top: 990px;
	}

	#pamphletu8548
	{
		height: 512px;
		margin-right: -10000px;
		margin-top: 1292px;
	}

	#u8551
	{
		width: 769px;
		left: 88px;
	}

	#u8552
	{
		width: 765px;
		left: 3px;
	}

	#u8553-7
	{
		width: 94.51%;
		left: 2.75%;
	}

	#u8684
	{
		width: 765px;
		height: 452px;
		left: 3px;
	}

	#u8698,#u8708
	{
		width: 765px;
		height: 452px;
		left: 2px;
	}

	#u8718,#u8728
	{
		width: 765px;
		height: 452px;
		left: 1px;
	}

	#u8738
	{
		width: 765px;
		height: 452px;
	}

	#u8748,#u8758
	{
		width: 765px;
		height: 452px;
		left: -1px;
	}

	#u8768
	{
		width: 765px;
		height: 452px;
		left: -2px;
	}

	#u8571
	{
		margin-top: 487px;
		left: 297px;
	}

	#u8549
	{
		top: 211px;
	}

	#u8567
	{
		top: 215px;
		left: 909px;
	}

	#pskills
	{
		margin-top: 22px;
		width: 100%;
	}

	#skills
	{
		width: 22px;
		margin-right: -10000px;
		left: -532px;
	}

	#u12188
	{
		width: 960px;
		margin-right: -10000px;
		margin-top: 66px;
		left: -480px;
	}

	#u12088
	{
		margin-right: -10000px;
		margin-top: 517px;
		left: 91px;
	}

	#u11332-4
	{
		left: -90px;
	}

	#u12138
	{
		margin-right: -10000px;
		margin-top: 398px;
		left: -100px;
	}

	#u12083
	{
		margin-right: -10000px;
		margin-top: 398px;
		left: 280px;
	}

	#u11350-4
	{
		left: -93px;
	}

	#u12078
	{
		margin-right: -10000px;
		margin-top: 199px;
		left: 280px;
	}

	#u11356-6
	{
		line-height: 36px;
		font-size: 30px;
		left: -88px;
	}

	#u12163
	{
		margin-right: -10000px;
		margin-top: 321px;
		left: 91px;
	}

	#u11325-6
	{
		margin-top: 41px;
		left: -66px;
	}

	#u12178
	{
		margin-right: -10000px;
		margin-top: 199px;
		left: -100px;
	}

	#u11328-6
	{
		margin-top: 33px;
		left: -67px;
	}

	#u12168
	{
		margin-right: -10000px;
		margin-top: 321px;
		left: -293px;
	}

	#u11335-4
	{
		left: -81px;
	}

	#u12158
	{
		margin-right: -10000px;
		margin-top: 398px;
		left: -480px;
	}

	#u11343-4
	{
		left: -67px;
	}

	#u12183
	{
		margin-right: -10000px;
		margin-top: 639px;
		left: -100px;
	}

	#u11338-6
	{
		left: -53px;
	}

	#u12108
	{
		margin-right: -10000px;
		margin-top: 199px;
		left: -480px;
	}

	#u11364-6
	{
		left: -64px;
	}

	#u11364-6:hover
	{
		left: -64px;
	}

	#u12173
	{
		margin-right: -10000px;
		margin-top: 517px;
		left: -293px;
	}

	#u11353-4
	{
		left: -68px;
	}

	#u12123
	{
		margin-right: -10000px;
		margin-top: 121px;
		left: 91px;
	}

	#u11340-4,#u11356-6:hover,#u11346-6
	{
		left: -88px;
	}

	#u11346-6:hover
	{
		left: -88px;
	}

	#u12118
	{
		margin-right: -10000px;
		left: -100px;
	}

	#u11358-6
	{
		margin-top: 44px;
		left: -65px;
	}

	#u11358-6:hover
	{
		margin-top: 44px;
		left: -65px;
	}

	#u12113
	{
		margin-right: -10000px;
		margin-top: 120px;
		left: -293px;
	}

	#u11361-6
	{
		left: -94px;
	}

	#u11361-6:hover
	{
		left: -94px;
	}

	#u11323-4
	{
		width: 298px;
		margin-right: -10000px;
		left: 85px;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 82px;
	}

	#u4647
	{
		margin-right: -10000px;
		margin-top: 11px;
		left: 622px;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u3578:hover
	{
		margin-left: -1px;
		margin-top: 3px;
	}

	#u868
	{
		left: 50px;
	}

	#u866
	{
		left: 100px;
	}

	#u864
	{
		left: 150px;
	}

	#u860
	{
		left: 200px;
	}

	#u862
	{
		left: 250px;
	}

	#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
	{
		margin-left: -1px;
	}

	#u251-bw
	{
		min-height: 70px;
	}
}

@media (min-width: 401px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 527.7750000000005px;
		padding-bottom: 0px;
		max-width: 600px;
	}

	#page_position_content
	{
		padding-top: 20px;
		width: 100%;
	}

	#menuu6611
	{
		z-index: 191;
		width: 415px;
		position: relative;
		margin-left: 50%;
		left: -207px;
	}

	#u6619
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 104px;
	}

	#u6627
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u8417
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6612
	{
		width: 103px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 312px;
	}

	#u6613
	{
		width: 103px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6613:hover
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6613.MuseMenuActive
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6615-4
	{
		width: 103px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6613:hover #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u6613.MuseMenuActive #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u2890-4
	{
		margin-top: 142px;
		width: 87.5%;
		margin-left: 6.17%;
	}

	#u3906-4
	{
		margin-top: 58px;
		width: 80.67%;
		margin-left: 10.5%;
	}

	#ppaboutme
	{
		margin-top: 65px;
	}

	#paboutme
	{
		margin-top: 68px;
		margin-left: -511px;
	}

	#projects
	{
		margin-top: 1337px;
	}

	#u6003_align_to_page
	{
		max-width: 600px;
		padding-top: 77px;
		padding-bottom: 247px;
	}

	#u3928-4
	{
		width: 275px;
		margin-left: 50%;
		left: -137px;
	}

	#u5695-7
	{
		margin-top: 58px;
		width: 79.84%;
		margin-left: 10.09%;
		left: -1px;
	}

	#u5686-6
	{
		width: 223px;
		margin-top: 47px;
		left: 30.67%;
	}

	#u5686-6:hover
	{
		margin-top: 47px;
		width: 223px;
	}

	#u6003,#u6003-bw
	{
		min-height: 1428px;
	}

	#u8532
	{
		min-height: 172px;
		padding-bottom: 661px;
	}

	#u8532_align_to_page
	{
		max-width: 600px;
	}

	#u8533-4
	{
		width: 244px;
		margin-top: 80px;
		left: 29.67%;
	}

	#u8532-bw
	{
		min-height: 172px;
		margin-top: 1263px;
	}

	#pamphletu8548
	{
		height: 485px;
		margin-right: -10000px;
		margin-top: 1508px;
		left: 0.17%;
	}

	#u8551
	{
		width: 502px;
		left: 49px;
	}

	#u8552
	{
		width: 498px;
		margin-bottom: -72px;
	}

	#u8553-7
	{
		width: 90.37%;
		left: 4.22%;
	}

	#u8684,#u8698,#u8708,#u8718,#u8728,#u8738,#u8748,#u8758
	{
		width: 498px;
		height: 380px;
	}

	#u8768
	{
		width: 498px;
		height: 387px;
		margin-bottom: -7px;
	}

	#u8571
	{
		margin-top: 459px;
		left: 122px;
	}

	#u8549
	{
		top: 146px;
	}

	#u8567
	{
		top: 146px;
		left: 555px;
	}

	#skills
	{
		left: -522px;
		margin-top: 39px;
	}

	#u11323-4
	{
		width: 159px;
		margin-left: 50%;
		left: -80px;
	}

	#u12188
	{
		width: 400px;
		margin-top: 37px;
		left: -200px;
	}

	#pu12118
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 50%;
		margin-left: 25%;
	}

	#u11358-6
	{
		margin-top: 45px;
		left: -65px;
	}

	#u11358-6:hover
	{
		margin-top: 45px;
		left: -65px;
	}

	#u11361-6
	{
		left: -96px;
	}

	#u11356-6
	{
		line-height: 32px;
		font-size: 27px;
		left: -93px;
	}

	#u11356-6:hover,#u11340-4
	{
		left: -93px;
	}

	#u11325-6
	{
		margin-top: 41px;
		left: -79px;
	}

	#u12118,#u12113,#u12078,#u12138,#u12163,#u12173,#u12183
	{
		left: -200px;
	}

	#u11338-6
	{
		left: -59px;
	}

	#pu12108
	{
		margin-right: -10000px;
		margin-top: 86px;
		width: 50%;
		margin-left: 25%;
	}

	#u11364-6
	{
		left: -78px;
	}

	#u11364-6:hover
	{
		left: -78px;
	}

	#u11346-6
	{
		left: -92px;
	}

	#u11346-6:hover
	{
		left: -92px;
	}

	#u11361-6:hover,#u11350-4
	{
		left: -96px;
	}

	#u11353-4,#u11343-4
	{
		left: -80px;
	}

	#u11335-4
	{
		left: -88px;
	}

	#u11328-6
	{
		margin-top: 33px;
		left: -80px;
	}

	#u12108,#u12123,#u12083,#u12158,#u12168,#u12178,#u12088
	{
		left: 0px;
	}

	#u11332-4
	{
		left: -94px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251,#u251-bw
	{
		min-height: 90px;
	}
}

@media (max-width: 400px)
{
	#muse_css_mq
	{
		background-color: #000190;
	}

	#bp_400.active
	{
		display: block;
	}

	#page
	{
		min-height: 728px;
		max-width: 400px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#paboutme
	{
		margin-top: 650px;
		margin-left: -522px;
	}

	#aboutme
	{
		margin-left: 14px;
	}

	#projects
	{
		margin-top: 1567px;
	}

	#pu2890-4
	{
		margin-right: -10000px;
		margin-top: 107px;
		width: 150%;
	}

	#u2890-4
	{
		width: 58.34%;
		margin-left: 4.17%;
	}

	#u3906-4
	{
		width: 53.84%;
		margin-left: 5.84%;
	}

	#pamphletu8548
	{
		height: 485px;
		margin-top: 1993px;
	}

	#u8551
	{
		width: 502px;
		left: 49px;
	}

	#u8552
	{
		width: 498px;
		margin-bottom: -72px;
	}

	#u8553-7
	{
		width: 90.37%;
		left: 4.22%;
	}

	#u8684,#u8698,#u8708,#u8718,#u8728,#u8738,#u8748,#u8758
	{
		width: 498px;
		height: 380px;
	}

	#u8768
	{
		width: 498px;
		height: 387px;
		margin-bottom: -7px;
	}

	#u8571
	{
		margin-top: 459px;
		left: 122px;
	}

	#u8549
	{
		top: 146px;
	}

	#u8567
	{
		top: 146px;
		left: 555px;
	}

	#u6003
	{
		min-height: 1709px;
	}

	#u6003_align_to_page
	{
		max-width: 400px;
		padding-top: 71px;
		padding-bottom: 91px;
	}

	#u3928-4
	{
		width: 275px;
		margin-left: 50%;
		left: -137px;
	}

	#u5695-7
	{
		margin-top: 35px;
		width: 80%;
		margin-left: 10%;
		left: 0px;
	}

	#u5686-6
	{
		width: 223px;
		margin-top: 33px;
		left: 18%;
	}

	#u5686-6:hover
	{
		margin-top: 33px;
		width: 223px;
	}

	#u6003-bw
	{
		min-height: 1709px;
		margin-top: 524px;
	}

	#u8532
	{
		min-height: 183px;
		padding-bottom: 667px;
	}

	#u8532_align_to_page
	{
		max-width: 400px;
	}

	#u8533-4
	{
		width: 244px;
		margin-top: 91px;
		left: 19.5%;
	}

	#u8532-bw
	{
		min-height: 183px;
		margin-top: 2174px;
	}

	#accordionu9663wrapper
	{
		min-height: 550px;
		z-index: 191;
		margin-right: -10000px;
	}

	#u9668
	{
		z-index: 192;
	}

	#u9669-3
	{
		z-index: 193;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u9669-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-2
	{
		margin-left: 10px;
	}

	#u9670
	{
		z-index: 196;
		padding-bottom: 31px;
	}

	#menuu9736
	{
		z-index: 197;
		min-height: 427px;
	}

	#u9754
	{
		min-height: 30px;
		padding-bottom: 75px;
		position: relative;
	}

	#u9754:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9756-4
	{
		min-height: 30px;
		position: relative;
		top: 37px;
	}

	#u9754:hover #u9756-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9747
	{
		min-height: 30px;
		padding-bottom: 75px;
		position: relative;
	}

	#u9754.MuseMenuActive,#u9747:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9750-4
	{
		min-height: 30px;
		position: relative;
		top: 37px;
	}

	#u9754.MuseMenuActive #u9756-4,#u9747:hover #u9750-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9740
	{
		min-height: 30px;
		padding-bottom: 75px;
		position: relative;
	}

	#u9747.MuseMenuActive,#u9740:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9742-4
	{
		min-height: 30px;
		position: relative;
		top: 37px;
	}

	#u9747.MuseMenuActive #u9750-4,#u9740:hover #u9742-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759
	{
		min-height: 30px;
		padding-bottom: 76px;
		position: relative;
	}

	#u9740.MuseMenuActive,#u9759:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9760-4
	{
		min-height: 30px;
		position: relative;
		top: 38px;
	}

	#u9740.MuseMenuActive #u9742-4,#u9759:hover #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9744,#u9737,#u9758
	{
		margin-top: 2px;
	}

	#menuu9736-bw
	{
		z-index: 197;
		min-height: 427px;
		margin-top: 30px;
	}

	#accordionu9663,#accordionu9663-bw
	{
		z-index: 191;
	}

	#skills
	{
		left: -522px;
		margin-top: 38px;
	}

	#u11323-4
	{
		width: 159px;
		margin-top: 28px;
		margin-left: 50%;
		left: -80px;
	}

	#u12188
	{
		width: 200px;
		padding-bottom: 0px;
		left: -100px;
	}

	#u11358-6
	{
		margin-top: 43px;
		left: -69px;
	}

	#u11358-6:hover
	{
		margin-top: 43px;
		left: -69px;
	}

	#u11364-6
	{
		left: -88px;
	}

	#u12113
	{
		margin-top: 3px;
		left: -100px;
	}

	#u11361-6
	{
		left: -98px;
	}

	#u11361-6:hover
	{
		left: -98px;
	}

	#u12123
	{
		top: -3px;
		margin-bottom: -3px;
		left: -100px;
	}

	#u11346-6
	{
		left: -96px;
	}

	#u11356-6
	{
		line-height: 32px;
		font-size: 27px;
		left: -88px;
	}

	#u11364-6:hover,#u11356-6:hover
	{
		left: -88px;
	}

	#u11350-4
	{
		left: -95px;
	}

	#u11346-6:hover,#u11340-4
	{
		left: -96px;
	}

	#u11325-6
	{
		margin-top: 40px;
		left: -66px;
	}

	#u11335-4
	{
		left: -80px;
	}

	#u11343-4,#u11353-4
	{
		left: -67px;
	}

	#u11328-6
	{
		margin-top: 23px;
		left: -67px;
	}

	#u11338-6
	{
		left: -52px;
	}

	#u12118,#u12108,#u12078,#u12083,#u12138,#u12158,#u12163,#u12168,#u12173,#u12178,#u12183,#u12088
	{
		left: -100px;
	}

	#u11332-4
	{
		left: -97px;
	}

	#u251
	{
		min-height: 90px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251-bw
	{
		min-height: 90px;
		margin-top: 1px;
	}

	body
	{
		min-width: 320px;
	}

}

