.MenuItem
{
	cursor: pointer;
}

#u251
{
	-pie-background: rgba(137,165,166,0.65);
}

#u4647
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#u3578,#u868,#u866,#u864,#u860,#u862
{
	background-color: transparent;
}

#u3578:hover,#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
{
	border-color: #000000;
	border-width: 1px;
	border-radius: 10px;
	border-style: solid;
}

#u3579,#u869,#u867,#u865,#u861,#u863
{
	display: block;
}

#u671-4
{
	color: #30293C;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 17px;
	line-height: 20px;
	background-color: transparent;
}

@media (min-width: 601px)
{
	#menuu6611
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u6619,#u6622
	{
		background-color: transparent;
	}

	#u6625-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6622:hover #u6625-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6626,#u6627
	{
		background-color: transparent;
	}

	#u6629-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6627:hover #u6629-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u8416,#u8417
	{
		background-color: transparent;
	}

	#u8420-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u8417:hover #u8420-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6622.MuseMenuActive #u6625-4 p,#u6627.MuseMenuActive #u6629-4 p,#u8417.MuseMenuActive #u8420-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		text-decoration: none;
	}

	#u251
	{
		background-color: #B2C4C5;
		background-color: rgba(137,165,166,0.65);
	}

	#u251_align_to_page
	{
		max-width: 960px;
	}

}

@media (min-width: 401px) and (max-width: 600px)
{
	#menuu6611
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u6619,#u6622
	{
		background-color: transparent;
	}

	#u6625-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6622:hover #u6625-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6626,#u6627
	{
		background-color: transparent;
	}

	#u6629-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6627:hover #u6629-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u8416,#u8417
	{
		background-color: transparent;
	}

	#u8420-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u8417:hover #u8420-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6622.MuseMenuActive #u6625-4 p,#u6627.MuseMenuActive #u6629-4 p,#u8417.MuseMenuActive #u8420-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		text-decoration: none;
	}

	#u251
	{
		background-color: #B2C4C5;
		background-color: rgba(137,165,166,0.65);
	}

	#u251_align_to_page
	{
		max-width: 600px;
	}

}

@media (max-width: 400px)
{
	#accordionu9663
	{
		border-color: #7F7F7F;
		background-color: transparent;
	}

	#u9669-3
	{
		border-color: #FFFFFF;
		background: transparent url("../images/menuicon.svg") no-repeat center top;
		background-size: contain;
	}

	#u9669-3:hover
	{
		background: transparent url("../images/menuiconroll.svg") no-repeat center top;
		background-size: contain;
	}

	#u9669-3:active
	{
		background: transparent url("../images/menuiconroll.svg") no-repeat center top;
		background-size: contain;
	}

	#u9669-3.AccordionPanelTabOpen
	{
		background: transparent url("../images/menuiconroll.svg") no-repeat center top;
		background-size: contain;
	}

	.nosvg #u9669-3
	{
		background-image: url('../images/menuicon_poster_u9728.png');
	}

	.nosvg #u9669-3:hover,.nosvg #u9669-3:active,.nosvg #u9669-3.AccordionPanelTabOpen
	{
		background-image: url('../images/menuiconroll_poster_u9949.png');
	}

	#u9669-2
	{
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	}

	#u9670
	{
		border-color: #FFFFFF;
		background-color: #E4D4D7;
	}

	#menuu9736
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u9668,#u9751,#u9754
	{
		background-color: transparent;
	}

	#u9756-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u9754:hover #u9756-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u9744,#u9747
	{
		background-color: transparent;
	}

	#u9750-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u9747:hover #u9750-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u9758,#u9759
	{
		background-color: transparent;
	}

	#u9760-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u9759:hover #u9760-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u9754.MuseMenuActive #u9756-4 p,#u9747.MuseMenuActive #u9750-4 p,#u9759.MuseMenuActive #u9760-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		text-decoration: none;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u251
	{
		background-color: #B2C4C5;
		background-color: rgba(137,165,166,0.65);
	}

	#u251_align_to_page
	{
		max-width: 400px;
	}

}

