	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 4442px;
		max-width: 960px;
	}

	#page_position_content
	{
		padding-top: 20px;
		width: 100%;
	}

	#menuu6611
	{
		z-index: 184;
		width: 415px;
		margin-left: 60px;
		position: relative;
	}

	#u6619
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 139px;
	}

	#u6627
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 137px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 278px;
	}

	#u8417
	{
		width: 137px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 137px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 137px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 137px;
		margin: 0px -10000px 0px 0px;
	}

	#u2890-4
	{
		z-index: 176;
		margin-top: 135px;
		margin-left: 6.25%;
	}

	#u3906-4
	{
		z-index: 180;
		margin-top: 52px;
		width: 54.07%;
		margin-left: 22.92%;
	}

	#pcontact
	{
		margin-top: 219px;
		width: 100%;
	}

	#contact
	{
		width: 22px;
		margin-right: -10000px;
		left: -512px;
	}

	#u12620-4
	{
		width: 686px;
		line-height: 90px;
		font-size: 75px;
		text-align: left;
		margin-right: -10000px;
		margin-top: 9px;
		left: -343px;
	}

	#pu12907
	{
		margin-top: 2px;
	}

	#u12907
	{
		width: 100px;
		margin-top: 9px;
		left: -240px;
	}

	#u12907:hover
	{
		margin-top: 8px;
		width: 100px;
		left: -241px;
	}

	#u12911
	{
		width: 100px;
		left: -50px;
	}

	#u12909
	{
		width: 100px;
		left: 133px;
	}

	#pu12913
	{
		margin-top: 12px;
	}

	#u12913
	{
		width: 100px;
		left: -233px;
	}

	#u12913:hover
	{
		width: 100px;
		left: -234px;
	}

	#u12915
	{
		width: 100px;
		left: -50px;
	}

	#u12911:hover,#u12915:hover
	{
		width: 100px;
		left: -51px;
	}

	#u12905
	{
		width: 100px;
		left: 133px;
	}

	#u12909:hover,#u12905:hover
	{
		width: 100px;
		left: 132px;
	}

	#paboutme
	{
		margin-top: 21px;
	}

	#aboutme
	{
		margin-top: 53px;
		left: -497px;
	}

	#u6003_align_to_page
	{
		max-width: 960px;
		padding-top: 53px;
		padding-bottom: 27px;
	}

	#u3928-4
	{
		width: 268px;
		left: 346px;
	}

	#u14083
	{
		margin-top: 26px;
		left: 32.09%;
	}

	#u5695-22
	{
		margin-top: 26px;
		width: 79.9%;
		left: 10.11%;
	}

	#u5686-6
	{
		margin-top: 44px;
		left: 34.28%;
	}

	#u5686-6:hover
	{
		margin-top: 44px;
	}

	#u6003,#u6003-bw
	{
		min-height: 1434px;
	}

	#slideshowu13073
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u13083,#u13493,#u13535,#u13577,#u13619,#u13661
	{
		width: 960px;
	}

	#u13080
	{
		left: 22px;
	}

	#u13873
	{
		min-height: 221px;
		padding-bottom: 32px;
	}

	#u13710-6
	{
		width: 686px;
		line-height: 90px;
		font-size: 75px;
		margin-top: 41px;
		left: -344px;
	}

	#u13873-bw
	{
		min-height: 221px;
		margin-top: 1px;
	}

	#u14052
	{
		width: 797px;
		margin-top: 35px;
		margin-left: 10.73%;
	}

	#u13723
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 75px;
	}

	#u13921
	{
		min-height: 309px;
		padding-bottom: 9px;
	}

	#u13921_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
	}

	#u14057
	{
		width: 823px;
		margin-top: 9px;
		left: 6.25%;
	}

	#u13921-bw
	{
		min-height: 309px;
		margin-top: 4px;
	}

	#u14062
	{
		width: 797px;
		margin-top: 4px;
		margin-left: 7.09%;
	}

	#u13922
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 76px;
	}

	#u13868-11,#u13924-9
	{
		width: 620px;
		margin-right: -10000px;
		left: 22.21%;
	}

	#u14023
	{
		min-height: 343px;
	}

	#u13873_align_to_page,#u14023_align_to_page
	{
		max-width: 960px;
	}

	#u14067
	{
		width: 823px;
		margin-top: 13px;
		left: 7.3%;
	}

	#u13879-9,#u13960-10
	{
		width: 620px;
		margin-right: -10000px;
	}

	#u13845,#u13958
	{
		width: 120px;
		margin-right: -10000px;
		margin-top: 75px;
		left: 85.42%;
	}

	#u14023-bw
	{
		min-height: 343px;
		margin-top: 1px;
	}

	#accordionu14106
	{
		z-index: 166;
		border-style: solid;
		border-width: 1px;
		border-color: #7F7F7F;
		background-color: transparent;
	}

	#u14107
	{
		z-index: 167;
		background-color: transparent;
	}

	#u14110-6
	{
		z-index: 168;
		min-height: 40px;
		border-color: #FFFFFF;
		background-color: #A67C8F;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u14110-6.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 40px;
		margin: 0px 0px 0px 0%;
	}

	#u14110-6.AccordionPanelTabOpen p
	{
		text-align: center;
	}

	#u14110-5
	{
		line-height: 20px;
		color: #FFFFFF;
		font-size: 20px;
		text-align: center;
		font-family: quicksand, sans-serif;
		font-weight: 400;
		margin-left: 10px;
	}

	#u14108
	{
		z-index: 174;
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}

	#u14187
	{
		z-index: 175;
		min-height: 364px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		width: 66.67%;
		margin-left: 16.67%;
		left: -1px;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#accordionu14106-bw
	{
		z-index: 166;
		margin-top: -2px;
		margin-bottom: -2px;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u251_align_to_page
	{
		margin-bottom: -1px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 82px;
	}

	#u4647
	{
		margin-right: -10000px;
		margin-top: 11px;
		left: 622px;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u3578:hover
	{
		margin-left: -1px;
		margin-top: 3px;
	}

	#u868
	{
		left: 50px;
	}

	#u866
	{
		left: 100px;
	}

	#u864
	{
		left: 150px;
	}

	#u860
	{
		left: 200px;
	}

	#u862
	{
		left: 250px;
	}

	#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
	{
		margin-left: -1px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: -1px;
	}

