	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 744px;
		padding-top: 20px;
		max-width: 960px;
	}

	#menuu6611
	{
		z-index: 27;
		width: 415px;
		position: relative;
		margin-left: 50%;
		left: -14px;
	}

	#u6619
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 104px;
	}

	#u6627
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u8417
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6612
	{
		width: 103px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 312px;
	}

	#u6613
	{
		width: 103px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6613:hover
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6613.MuseMenuActive
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6615-4
	{
		width: 103px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6613:hover #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u6613.MuseMenuActive #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#pu10136
	{
		margin-top: 150px;
	}

	#u10136
	{
		left: 40.11%;
	}

	#u10141-6
	{
		width: 13.44%;
		left: 43.86%;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 82px;
	}

	#u4647
	{
		margin-right: -10000px;
		margin-top: 11px;
		left: 622px;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u3578:hover
	{
		margin-left: -1px;
		margin-top: 3px;
	}

	#u868
	{
		left: 50px;
	}

	#u866
	{
		left: 100px;
	}

	#u864
	{
		left: 150px;
	}

	#u860
	{
		left: 200px;
	}

	#u862
	{
		left: 250px;
	}

	#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
	{
		margin-left: -1px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 244px;
	}

