	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1896.6999999999998px;
		padding-top: 104px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#pamphletu256
	{
		height: 86px;
		padding-bottom: 256px;
		left: 50%;
		margin-left: -420px;
	}

	#u261
	{
		width: 840px;
		padding-bottom: 222px;
		top: 120px;
	}

	#u262
	{
		width: 840px;
		height: 222px;
		top: 130px;
		margin-left: -420px;
	}

	#menuu420
	{
		margin-top: 18px;
		width: 56.2%;
		margin-left: 21.91%;
		left: 0px;
	}

	#u431,#u3732
	{
		padding-bottom: 13px;
	}

	#u432-4,#u3734-4
	{
		top: 6px;
	}

	#u3389,#u3438
	{
		padding-bottom: 14px;
	}

	#u3391-4,#u3439-4
	{
		top: 7px;
	}

	#u5661
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 7.15%;
	}

	#u5666
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 86.91%;
	}

	#u1673,#u1681
	{
		margin-top: 15px;
	}

	#u1677,#u1675
	{
		margin-top: 14px;
	}

	#u265
	{
		width: 83px;
		left: 378px;
	}

	#u266
	{
		width: 81px;
		padding-bottom: 0px;
		margin-left: -42px;
	}

	#u266:hover
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266:active
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266.PamphletThumbSelected
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266_position_content
	{
		margin-top: -1px;
		padding-bottom: 7px;
		width: 100%;
	}

	#u3276
	{
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266:hover #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266:active #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266.PamphletThumbSelected #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u3276 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u3304-4
	{
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266:hover #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266:active #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266.PamphletThumbSelected #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u3906-4
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.5);
		color: #5F6283;
		margin-top: 14px;
		width: 54.07%;
		margin-left: 22.97%;
		left: -3px;
	}

	#paboutme
	{
		margin-top: 275px;
	}

	#u2035_align_to_page
	{
		max-width: 960px;
		padding-bottom: 1839px;
	}

	#u3928-4
	{
		width: 298px;
		left: 86px;
	}

	#u4214-6
	{
		width: 292px;
		margin-top: 239px;
		left: -151px;
	}

	#u4214-6:hover
	{
		margin-top: 239px;
		width: 292px;
		left: -151px;
	}

	#u2035,#u2035-bw
	{
		min-height: 2328.6499999999996px;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u251_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u671-4
	{
		width: 243px;
		position: relative;
		margin-right: -10000px;
		margin-top: 50px;
		left: 60px;
	}

	#u4647
	{
		width: 300px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 600px;
	}

	#u3578
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 4px;
	}

	#u868
	{
		position: relative;
		margin-right: -10000px;
		left: 50px;
	}

	#u866
	{
		position: relative;
		margin-right: -10000px;
		left: 100px;
	}

	#u864
	{
		position: relative;
		margin-right: -10000px;
		left: 150px;
	}

	#u860
	{
		position: relative;
		margin-right: -10000px;
		left: 200px;
	}

	#u862
	{
		position: relative;
		margin-right: -10000px;
		left: 250px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 2px;
	}

