	#menuu6611
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u6619,#u6622
	{
		background-color: transparent;
	}

	#u6625-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6622:hover #u6625-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6626,#u6627
	{
		background-color: transparent;
	}

	#u6629-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u6627:hover #u6629-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u8416,#u8417
	{
		background-color: transparent;
	}

	#u8420-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 30px;
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		font-family: satisfy, sans-serif;
		font-weight: 400;
	}

	#u8417:hover #u8420-4 p
	{
		color: #A67C8F;
		visibility: inherit;
		text-decoration: underline;
	}

	#u6622.MuseMenuActive #u6625-4 p,#u6627.MuseMenuActive #u6629-4 p,#u8417.MuseMenuActive #u8420-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
		text-decoration: none;
	}

	#u251
	{
		background-color: #B2C4C5;
		background-color: rgba(137,165,166,0.65);
	}

	#u251_align_to_page
	{
		max-width: 960px;
	}


