	#u262
	{
		background-color: #E6E6E6;
		background-color: rgba(205,205,205,0.5);
	}

	#u251
	{
		background-color: #B2C4C5;
		background-color: rgba(137,165,166,0.65);
	}

	#u251_align_to_page
	{
		max-width: 960px;
	}


