	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 530px;
		max-width: 960px;
	}

	#u4386-4
	{
		left: 36.57%;
	}

	#pamphletu256
	{
		height: 54px;
		padding-bottom: 1px;
		top: 28px;
		left: 767px;
	}

	#u261
	{
		width: 840px;
		padding-bottom: 222px;
		top: 94px;
		left: -629px;
	}

	#u262
	{
		width: 840px;
		height: 222px;
		top: 121px;
		margin-left: -342px;
	}

	#menuu420
	{
		margin-top: 18px;
		width: 56.2%;
		margin-left: 21.91%;
		left: 0px;
	}

	#u431,#u3732
	{
		padding-bottom: 13px;
	}

	#u432-4,#u3734-4
	{
		top: 6px;
	}

	#u3389,#u3438
	{
		padding-bottom: 14px;
	}

	#u3391-4,#u3439-4
	{
		top: 7px;
	}

	#u3632
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 7.15%;
	}

	#u3637
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 86.91%;
	}

	#u1673,#u1681
	{
		margin-top: 15px;
	}

	#u1677,#u1675
	{
		margin-top: 14px;
	}

	#u266
	{
		width: 121px;
		padding-bottom: 1px;
	}

	#u265,#u266:hover
	{
		width: 121px;
	}

	#u266:active
	{
		width: 121px;
	}

	#u266.PamphletThumbSelected
	{
		width: 121px;
	}

	#u3276
	{
		width: 44.63%;
		left: 0.83%;
	}

	#u266:hover #u3276
	{
		width: 44.63%;
		margin-left: 0%;
	}

	#u266:active #u3276
	{
		width: 44.63%;
		margin-left: 0%;
	}

	#u266.PamphletThumbSelected #u3276
	{
		width: 44.63%;
		margin-left: 0%;
	}

	#u3276 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u3304-4
	{
		min-height: 21px;
		margin-top: 14px;
		width: 54.55%;
		left: 44.63%;
	}

	#u266:hover #u3304-4
	{
		margin-top: 14px;
		min-height: 21px;
		width: 54.55%;
	}

	#u266:active #u3304-4
	{
		margin-top: 14px;
		min-height: 21px;
		width: 54.55%;
	}

	#u266.PamphletThumbSelected #u3304-4
	{
		margin-top: 14px;
		min-height: 21px;
		width: 54.55%;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u671-4
	{
		width: 243px;
		margin-top: 50px;
		left: 60px;
	}

	#u3604
	{
		width: 300px;
		margin-top: 11px;
		left: 62.5%;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u868
	{
		left: 16.67%;
	}

	#u866
	{
		left: 33.34%;
	}

	#u864
	{
		left: 50%;
	}

	#u860
	{
		left: 66.67%;
	}

	#u862
	{
		left: 83.34%;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 2px;
	}

	.verticalspacer
	{
		min-height: 168px;
	}

