.version.portfolio /* version checker */
{
	color: #0000F0;
	background-color: #7654B4;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	width: 100%;
	border-width: 0px;
	margin-right: auto;
	border-color: #000000;
	background-repeat: no-repeat;
	z-index: 1;
	margin-left: auto;
	background-color: transparent;
	background-position: center top;
	background-size: contain;
}

#pu4143
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4143
{
	z-index: 2;
	top: 0px;
	position: fixed;
	height: 105px;
	-pie-background: rgba(210,188,192,0.3);
}

#u4143-bw
{
	z-index: 2;
}

#u251,#u251-bw
{
	z-index: 3;
}

#u4647
{
	z-index: 51;
}

#u3578
{
	width: 50px;
	z-index: 62;
}

#u3579
{
	z-index: 63;
}

#u866
{
	z-index: 52;
	width: 50px;
}

#u867
{
	z-index: 53;
}

#u868
{
	z-index: 60;
	width: 50px;
}

#u869
{
	z-index: 61;
}

#u864
{
	z-index: 56;
	width: 50px;
}

#u865
{
	z-index: 57;
}

#u862
{
	z-index: 54;
	width: 50px;
}

#u863
{
	z-index: 55;
}

#u860
{
	z-index: 58;
	width: 50px;
}

#u861
{
	z-index: 59;
}

#pamphletu256
{
	width: 0.01px;
	position: fixed;
	z-index: 4;
	top: 10px;
}

#u261
{
	position: absolute;
}

#u261popup
{
	z-index: 5;
}

#u262
{
	left: 50%;
	position: fixed;
	z-index: 6;
}

#menuu420
{
	margin-right: -10000px;
	position: relative;
	z-index: 15;
}

#u428
{
	width: 100%;
	position: relative;
}

#u3729,#u3386,#u3437
{
	margin-top: 2px;
	width: 100%;
	position: relative;
}

#u431:hover,#u431.MuseMenuActive,#u3732:hover,#u3732.MuseMenuActive,#u3389:hover,#u3389.MuseMenuActive,#u3438:hover,#u3438.MuseMenuActive
{
	width: 100%;
	min-height: 30px;
	margin: 0px -10000px 0px 0%;
}

#u431,#u432-4,#u3732,#u3734-4,#u3389,#u3391-4,#u3438,#u3439-4
{
	width: 100%;
	min-height: 30px;
	margin-right: -10000px;
	position: relative;
}

#u431:hover #u432-4,#u431.MuseMenuActive #u432-4,#u3732:hover #u3734-4,#u3732.MuseMenuActive #u3734-4,#u3389:hover #u3391-4,#u3389.MuseMenuActive #u3391-4,#u3438:hover #u3439-4,#u3438.MuseMenuActive #u3439-4
{
	padding-bottom: 0px;
	width: 100%;
	min-height: 30px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#u5666
{
	margin-right: -10000px;
	position: relative;
	z-index: 7;
}

#u3609
{
	position: relative;
	z-index: 10;
	width: 50px;
	height: 50px;
}

#u1675
{
	position: relative;
	z-index: 9;
	width: 50px;
	height: 50px;
}

#u1681
{
	height: 50px;
	z-index: 8;
	width: 50px;
	position: relative;
}

#u5661
{
	margin-right: -10000px;
	position: relative;
	z-index: 11;
}

#u1673
{
	position: relative;
	z-index: 13;
	width: 50px;
	height: 50px;
}

#u1677
{
	position: relative;
	z-index: 12;
	width: 50px;
	height: 50px;
}

#u1679
{
	width: 50px;
	position: relative;
	z-index: 14;
	height: 50px;
}

#u265
{
	margin-right: -10000px;
	padding-bottom: 86px;
	position: relative;
	z-index: 40;
}

#u266
{
	left: 50%;
	top: 10px;
	position: fixed;
}

#u266:hover,#u266:active,#u266.PamphletThumbSelected
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	min-height: 0px;
}

#u3276
{
	position: relative;
	z-index: 42;
}

#u266:hover #u3276,#u266:active #u3276,#u266.PamphletThumbSelected #u3276
{
	margin-bottom: 0px;
	min-height: 0px;
}

#u3304-4
{
	position: relative;
	z-index: 43;
}

#u266:hover #u3304-4,#u266:active #u3304-4,#u266.PamphletThumbSelected #u3304-4
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

#u671-4
{
	min-height: 19px;
	z-index: 47;
}

.html
{
	background: #FFFFFF url("../images/20160722_012651668_ios.jpg") repeat-x center center scroll;
}

body
{
	position: relative;
}

@media (min-width: 481px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 670px;
		background-image: url("../images/20160722_012651668_ios-page-fr.jpg");
		max-width: 960px;
	}

	#pu4143
	{
		padding-bottom: 352px;
	}

	#u4143
	{
		background-color: #F1EAEC;
		background-color: rgba(210,188,192,0.3);
	}

	#pamphletu256
	{
		height: 86px;
		padding-bottom: 256px;
		left: 50%;
		margin-left: -420px;
	}

	#u261
	{
		width: 840px;
		padding-bottom: 222px;
		top: 120px;
	}

	#u262
	{
		width: 840px;
		height: 222px;
		top: 130px;
		margin-left: -420px;
	}

	#menuu420
	{
		margin-top: 18px;
		width: 56.2%;
		margin-left: 21.91%;
		left: 0px;
	}

	#u431,#u3732
	{
		padding-bottom: 13px;
	}

	#u432-4,#u3734-4
	{
		top: 6px;
	}

	#u3389,#u3438
	{
		padding-bottom: 14px;
	}

	#u3391-4,#u3439-4
	{
		top: 7px;
	}

	#u5661
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 7.15%;
	}

	#u5666
	{
		width: 50px;
		padding-bottom: 0px;
		margin-top: 18px;
		left: 86.91%;
	}

	#u1673,#u1681
	{
		margin-top: 15px;
	}

	#u1677,#u1675
	{
		margin-top: 14px;
	}

	#u265
	{
		width: 83px;
		left: 378px;
	}

	#u266
	{
		width: 81px;
		padding-bottom: 0px;
		margin-left: -42px;
	}

	#u266:hover
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266:active
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266.PamphletThumbSelected
	{
		margin-left: -42px;
		width: 81px;
	}

	#u266_position_content
	{
		margin-top: -1px;
		padding-bottom: 7px;
		width: 100%;
	}

	#u3276
	{
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266:hover #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266:active #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u266.PamphletThumbSelected #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 66.67%;
		margin-left: 17.29%;
	}

	#u3276 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u3304-4
	{
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266:hover #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266:active #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u266.PamphletThumbSelected #u3304-4
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 21px;
		width: 81.49%;
		margin-left: 8.65%;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u251_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u671-4
	{
		width: 243px;
		position: relative;
		margin-right: -10000px;
		margin-top: 50px;
		left: 60px;
	}

	#u4647
	{
		width: 300px;
		position: relative;
		margin-right: -10000px;
		margin-top: 11px;
		left: 600px;
	}

	#u3578
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 4px;
	}

	#u868
	{
		position: relative;
		margin-right: -10000px;
		left: 50px;
	}

	#u866
	{
		position: relative;
		margin-right: -10000px;
		left: 100px;
	}

	#u864
	{
		position: relative;
		margin-right: -10000px;
		left: 150px;
	}

	#u860
	{
		position: relative;
		margin-right: -10000px;
		left: 200px;
	}

	#u862
	{
		position: relative;
		margin-right: -10000px;
		left: 250px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 2px;
	}

	.verticalspacer
	{
		min-height: 226px;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 445px;
		background-image: url("../images/20160722_012651668_ios-page-fr2.jpg");
		max-width: 480px;
	}

	#pu4143
	{
		padding-bottom: 528px;
		margin-bottom: -83px;
	}

	#u4143
	{
		background-color: #F1EAEC;
		background-color: rgba(210,188,192,0.3);
	}

	#u251
	{
		height: 90px;
		position: fixed;
		bottom: 0px;
	}

	#pamphletu256
	{
		height: 87px;
		padding-bottom: 235px;
		left: 50%;
		margin-left: -222px;
	}

	#u261
	{
		width: 444px;
		padding-bottom: 218px;
		top: 103px;
	}

	#u262
	{
		width: 444px;
		height: 218px;
		top: 114px;
		margin-left: -222px;
	}

	#menuu420
	{
		margin-top: 24px;
		width: 63.07%;
		margin-left: 18.47%;
		left: 3px;
	}

	#u431,#u3732,#u3389,#u3438
	{
		padding-bottom: 11px;
	}

	#u432-4,#u3734-4,#u3391-4,#u3439-4
	{
		top: 5px;
	}

	#u5661
	{
		width: 50px;
		margin-top: 24px;
		left: 4.73%;
	}

	#u1673
	{
		margin-top: 60px;
	}

	#u1679
	{
		top: -170px;
		margin-bottom: -50px;
	}

	#u5666
	{
		width: 50px;
		margin-top: 24px;
		left: 84.91%;
	}

	#u1677,#u1681,#u1675
	{
		margin-top: 10px;
	}

	#u265
	{
		width: 94px;
		left: 175px;
	}

	#u266
	{
		width: 92px;
		margin-left: -47px;
	}

	#u266:hover
	{
		margin-left: -47px;
		width: 92px;
	}

	#u266:active
	{
		margin-left: -47px;
		width: 92px;
	}

	#u266.PamphletThumbSelected
	{
		margin-left: -47px;
		width: 92px;
	}

	#u266_position_content
	{
		margin-top: -1px;
		padding-bottom: 7px;
		width: 100%;
	}

	#u3276
	{
		width: 51px;
		height: 51px;
		margin-left: 50%;
		left: -26px;
	}

	#u266:hover #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 51px;
		height: 51px;
		margin-left: 50%;
		left: -26px;
	}

	#u266:active #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 51px;
		height: 51px;
		margin-left: 50%;
		left: -26px;
	}

	#u266.PamphletThumbSelected #u3276
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 51px;
		height: 51px;
		margin-left: 50%;
		left: -26px;
	}

	#u3304-4
	{
		width: 46px;
		min-height: 17px;
		margin-top: 3px;
		margin-left: 50%;
		left: -23px;
	}

	#u266:hover #u3304-4
	{
		margin-right: 0px;
		margin-top: 3px;
		min-height: 17px;
		width: 46px;
		margin-left: 50%;
		left: -23px;
	}

	#u266:active #u3304-4
	{
		margin-right: 0px;
		margin-top: 3px;
		min-height: 17px;
		width: 46px;
		margin-left: 50%;
		left: -23px;
	}

	#u266.PamphletThumbSelected #u3304-4
	{
		margin-right: 0px;
		margin-top: 3px;
		min-height: 17px;
		width: 46px;
		margin-left: 50%;
		left: -23px;
	}

	#pu671-4
	{
		width: 0.01px;
		padding-bottom: 70px;
		margin: 440px -10000px -65px 20px;
	}

	#u671-4
	{
		width: 248px;
		position: fixed;
		bottom: 18px;
		left: 50%;
		margin-left: -220px;
	}

	#u4647
	{
		width: 300px;
		padding-bottom: 50px;
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: -80px;
	}

	#u3578
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: -80px;
	}

	#u868
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: -30px;
	}

	#u866
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: 20px;
	}

	#u864
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: 70px;
	}

	#u860
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: 120px;
	}

	#u862
	{
		position: fixed;
		bottom: 38px;
		left: 50%;
		margin-left: 170px;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 330px;
		background-image: url("../images/20160722_012651668_ios-page-fr3.jpg");
		max-width: 320px;
	}

	#pu4143
	{
		padding-bottom: 500px;
		margin-bottom: -170px;
	}

	#u4143
	{
		background-color: #F1EAEC;
		background-color: rgba(210,188,192,0.3);
	}

	#u251
	{
		height: 90px;
		position: fixed;
		bottom: 0px;
	}

	#u4647
	{
		width: 299px;
		padding-bottom: 50px;
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: -149px;
	}

	#u3578
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: -149px;
	}

	#pu866
	{
		width: 0.01px;
		padding-bottom: 50px;
		position: fixed;
		bottom: -140px;
		left: 50%;
		margin-left: -99px;
	}

	#u866
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: -50px;
	}

	#u868
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: -99px;
	}

	#u864
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 0px;
	}

	#pu862
	{
		width: 0.01px;
		padding-bottom: 50px;
		position: fixed;
		bottom: -140px;
		left: 50%;
		margin-left: 50px;
	}

	#u862
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 99px;
	}

	#u860
	{
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 50px;
	}

	#pamphletu256
	{
		height: 86px;
		padding-bottom: 326px;
		left: 20px;
	}

	#u261
	{
		width: 280px;
		padding-bottom: 314px;
		top: 98px;
	}

	#u262
	{
		width: 280px;
		height: 314px;
		top: 108px;
		margin-left: -140px;
	}

	#menuu420
	{
		margin-top: 71px;
		width: 76.08%;
		margin-left: 11.97%;
		left: -1px;
	}

	#u431,#u3732,#u3389,#u3438
	{
		padding-bottom: 11px;
	}

	#u432-4,#u3734-4,#u3391-4,#u3439-4
	{
		top: 5px;
	}

	#pu5666
	{
		margin-right: -10000px;
		margin-top: 19px;
		width: 57.15%;
		margin-left: 21.43%;
	}

	#u5666
	{
		width: 160px;
	}

	#u3609
	{
		margin-right: -10000px;
		margin-top: 223px;
	}

	#pu1675
	{
		margin-right: -10000px;
		width: 31.25%;
		margin-left: 68.75%;
	}

	#u5661
	{
		width: 105px;
	}

	#u1673
	{
		margin-right: -10000px;
	}

	#pu1677
	{
		margin-right: -10000px;
		width: 47.62%;
		margin-left: 52.39%;
	}

	#u1681,#u1679
	{
		margin-top: 173px;
	}

	#u265
	{
		width: 86px;
		left: 97px;
	}

	#u266
	{
		width: 84px;
		padding-bottom: 7px;
		margin-left: -43px;
	}

	#u266:hover
	{
		margin-left: -43px;
		width: 84px;
	}

	#u266:active
	{
		margin-left: -43px;
		width: 84px;
	}

	#u266.PamphletThumbSelected
	{
		margin-left: -43px;
		width: 84px;
	}

	#u3276
	{
		width: 51px;
		height: 51px;
		margin-right: -10000px;
		margin-top: 2px;
		left: 17px;
	}

	#u266:hover #u3276
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 2px;
		width: 51px;
		height: 51px;
	}

	#u266:active #u3276
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 2px;
		width: 51px;
		height: 51px;
	}

	#u266.PamphletThumbSelected #u3276
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 2px;
		width: 51px;
		height: 51px;
	}

	#u3304-4
	{
		width: 46px;
		min-height: 17px;
		margin-right: -10000px;
		margin-top: 53px;
		left: 22.62%;
	}

	#u266:hover #u3304-4
	{
		margin-right: -10000px;
		margin-top: 53px;
		min-height: 17px;
		width: 46px;
		margin-left: 0%;
	}

	#u266:active #u3304-4
	{
		margin-right: -10000px;
		margin-top: 53px;
		min-height: 17px;
		width: 46px;
		margin-left: 0%;
	}

	#u266.PamphletThumbSelected #u3304-4
	{
		margin-right: -10000px;
		margin-top: 53px;
		min-height: 17px;
		width: 46px;
		margin-left: 0%;
	}

	#u671-4
	{
		width: 242px;
		position: fixed;
		bottom: 10px;
		left: 50%;
		margin-left: -121px;
	}

	body
	{
		min-width: 320px;
	}

}

