.version.untitled_2 /* version checker */
{
	color: #0000EA;
	background-color: #4BA3E6;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	background-color: transparent;
	z-index: 1;
	border-width: 0px;
	background-image: none;
	margin-right: auto;
	width: 100%;
}

#pu10136
{
	width: 100%;
}

#u10136
{
	z-index: 2;
	margin-right: -10000px;
	width: 200px;
	position: relative;
	height: 200px;
	background: transparent url("../images/hexagonroll.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u10136
{
	background-image: url('../images/hexagonroll_poster_u8170.png');
}

#u10136:hover
{
	min-height: 0px;
	width: 200px;
	height: 200px;
	margin: 0px -10000px 0px 0%;
	background: transparent url("../images/hexagon.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u10136:hover
{
	background-image: url('../images/hexagon_poster_u8162.png');
}

#u10141-6
{
	color: #FFFFFF;
	background-color: transparent;
	font-size: 30px;
	margin-right: -10000px;
	font-weight: 400;
	position: relative;
	z-index: 3;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	margin-top: 40px;
	text-align: center;
	min-height: 76px;
}

#u251_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u4647
{
	z-index: 14;
	width: 300px;
	position: relative;
}

#u3578
{
	z-index: 25;
	margin-right: -10000px;
	width: 50px;
	position: relative;
}

#u3578:hover
{
	min-height: 0px;
	margin-right: -10001px;
	width: 50px;
	margin-bottom: -1px;
}

#u3579
{
	z-index: 26;
}

#u868
{
	margin-right: -10000px;
	z-index: 23;
	width: 50px;
	position: relative;
}

#u869
{
	z-index: 24;
}

#u866
{
	margin-right: -10000px;
	z-index: 15;
	width: 50px;
	position: relative;
}

#u867
{
	z-index: 16;
}

#u864
{
	margin-right: -10000px;
	z-index: 19;
	width: 50px;
	position: relative;
}

#u865
{
	z-index: 20;
}

#u860
{
	margin-right: -10000px;
	z-index: 21;
	width: 50px;
	position: relative;
}

#u861
{
	z-index: 22;
}

#u862
{
	margin-right: -10000px;
	z-index: 17;
	width: 50px;
	position: relative;
}

#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
{
	min-height: 0px;
	margin-top: -1px;
	margin-right: -10001px;
	width: 50px;
	margin-bottom: -1px;
}

#u863
{
	z-index: 18;
}

#u671-4
{
	z-index: 10;
	min-height: 19px;
	position: relative;
}

#u251,#u251-bw
{
	z-index: 9;
}

.html
{
	background-color: #B0D1D2;
}

body
{
	position: relative;
}

@media (min-width: 601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 744px;
		padding-top: 20px;
		max-width: 960px;
	}

	#menuu6611
	{
		z-index: 27;
		width: 415px;
		position: relative;
		margin-left: 50%;
		left: -14px;
	}

	#u6619
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 104px;
	}

	#u6627
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u8417
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6612
	{
		width: 103px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 312px;
	}

	#u6613
	{
		width: 103px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6613:hover
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6613.MuseMenuActive
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6615-4
	{
		width: 103px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6613:hover #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u6613.MuseMenuActive #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#pu10136
	{
		margin-top: 150px;
	}

	#u10136
	{
		left: 40.11%;
	}

	#u10141-6
	{
		width: 13.44%;
		left: 43.86%;
	}

	#u251
	{
		min-height: 70px;
		padding-bottom: 20px;
	}

	#u671-4
	{
		width: 243px;
		margin-right: -10000px;
		margin-top: 50px;
		left: 82px;
	}

	#u4647
	{
		margin-right: -10000px;
		margin-top: 11px;
		left: 622px;
	}

	#u3578
	{
		margin-top: 4px;
	}

	#u3578:hover
	{
		margin-left: -1px;
		margin-top: 3px;
	}

	#u868
	{
		left: 50px;
	}

	#u866
	{
		left: 100px;
	}

	#u864
	{
		left: 150px;
	}

	#u860
	{
		left: 200px;
	}

	#u862
	{
		left: 250px;
	}

	#u868:hover,#u866:hover,#u864:hover,#u860:hover,#u862:hover
	{
		margin-left: -1px;
	}

	#u251-bw
	{
		min-height: 70px;
		margin-top: 244px;
	}
}

@media (min-width: 321px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 507.92499999999995px;
		padding-top: 20px;
		padding-bottom: 0px;
		max-width: 600px;
	}

	#menuu6611
	{
		z-index: 27;
		width: 415px;
		position: relative;
		margin-left: 50%;
		left: -208px;
	}

	#u6619
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
	}

	#u6622
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6625-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622:hover #u6625-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6626
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 104px;
	}

	#u6627
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6622.MuseMenuActive,#u6627:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u6629-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6622.MuseMenuActive #u6625-4,#u6627:hover #u6629-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8416
	{
		width: 102px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u8417
	{
		width: 102px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6627.MuseMenuActive,#u8417:hover
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8417.MuseMenuActive
	{
		width: 102px;
		min-height: 0px;
		margin: 0px;
	}

	#u8420-4
	{
		width: 102px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6627.MuseMenuActive #u6629-4,#u8417:hover #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u8417.MuseMenuActive #u8420-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 102px;
		margin: 0px -10000px 0px 0px;
	}

	#u6612
	{
		width: 103px;
		min-height: 60px;
		position: relative;
		margin-right: -10000px;
		left: 312px;
	}

	#u6613
	{
		width: 103px;
		padding-bottom: 30px;
		position: relative;
	}

	#u6613:hover
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6613.MuseMenuActive
	{
		width: 103px;
		min-height: 0px;
		margin: 0px;
	}

	#u6615-4
	{
		width: 103px;
		min-height: 30px;
		position: relative;
		margin-right: -10000px;
		top: 15px;
	}

	#u6613:hover #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#u6613.MuseMenuActive #u6615-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		width: 103px;
		margin: 0px -10000px 0px 0px;
	}

	#pu10136
	{
		margin-top: 150px;
	}

	#u10136
	{
		left: 40.17%;
	}

	#u10141-6
	{
		width: 13.5%;
		left: 43.84%;
	}

	#u251
	{
		min-height: 90px;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251-bw
	{
		min-height: 90px;
		margin-top: 8px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 528px;
		max-width: 320px;
	}

	#page_position_content
	{
		margin-top: -1px;
		width: 100%;
	}

	#u9668
	{
		z-index: 28;
	}

	#u9669-3
	{
		z-index: 29;
		min-height: 42px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u9669-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 42px;
		margin: 0px 0px 0px 0%;
	}

	#u9669-2
	{
		margin-left: 10px;
	}

	#u9670
	{
		z-index: 32;
	}

	#menuu9736
	{
		z-index: 33;
		min-height: 246px;
	}

	#u9754
	{
		min-height: 30px;
		padding-bottom: 30px;
		position: relative;
	}

	#u9754:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9756-4
	{
		min-height: 30px;
		position: relative;
		top: 15px;
	}

	#u9754:hover #u9756-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9747
	{
		min-height: 30px;
		padding-bottom: 30px;
		position: relative;
	}

	#u9754.MuseMenuActive,#u9747:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9750-4
	{
		min-height: 30px;
		position: relative;
		top: 15px;
	}

	#u9754.MuseMenuActive #u9756-4,#u9747:hover #u9750-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9740
	{
		min-height: 30px;
		padding-bottom: 30px;
		position: relative;
	}

	#u9747.MuseMenuActive,#u9740:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9742-4
	{
		min-height: 30px;
		position: relative;
		top: 15px;
	}

	#u9747.MuseMenuActive #u9750-4,#u9740:hover #u9742-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759
	{
		min-height: 30px;
		padding-bottom: 30px;
		position: relative;
	}

	#u9740.MuseMenuActive,#u9759:hover
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive
	{
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9760-4
	{
		min-height: 30px;
		position: relative;
		top: 15px;
	}

	#u9740.MuseMenuActive #u9742-4,#u9759:hover #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9759.MuseMenuActive #u9760-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 30px;
		margin: 0px 0px 0px 0%;
	}

	#u9744,#u9737,#u9758
	{
		margin-top: 2px;
	}

	#menuu9736-bw
	{
		z-index: 33;
		min-height: 246px;
		margin-top: 29px;
	}

	#accordionu9663,#accordionu9663-bw
	{
		z-index: 27;
	}

	#pu10136
	{
		margin-top: 167px;
	}

	#u10136
	{
		left: 40%;
	}

	#u10141-6
	{
		width: 13.44%;
		left: 43.75%;
	}

	#u251_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#u4647,#u3578
	{
		margin-left: 50%;
		left: -150px;
	}

	#u3578:hover
	{
		margin-top: -1px;
		margin-left: 50%;
		left: -151px;
	}

	#u868
	{
		margin-left: 50%;
		left: -100px;
	}

	#u868:hover
	{
		margin-left: 50%;
		left: -101px;
	}

	#u866
	{
		margin-left: 50%;
		left: -50px;
	}

	#u866:hover
	{
		margin-left: 50%;
		left: -51px;
	}

	#u864
	{
		margin-left: 50%;
		left: 0px;
	}

	#u864:hover
	{
		margin-left: 50%;
		left: -1px;
	}

	#u860
	{
		margin-left: 50%;
		left: 50px;
	}

	#u860:hover
	{
		margin-left: 50%;
		left: 49px;
	}

	#u862
	{
		margin-left: 50%;
		left: 100px;
	}

	#u862:hover
	{
		margin-left: 50%;
		left: 99px;
	}

	#u671-4
	{
		width: 248px;
		margin-left: 50%;
		left: -124px;
	}

	#u251,#u251-bw
	{
		min-height: 90px;
	}

	body
	{
		min-width: 320px;
	}

}

